@charset "utf-8";
/* CSS Document */

/******index***/
.index-body{ background:#56cccc url(../../../images/indexbg.png) repeat-x top!important; _height:100%;/*ie6背景不全*/}
.index-user-box{ text-align:center; padding:30px; margin-top:90px; }
.index-user-box img{ width:40px; height:40px; border-radius:25px;margin-right:20px;}
.index-container-bg{ background:#214167;  width:1200px; height:610px; border-radius:4px;position:absolute; z-index:2; left:50%; margin-left:-600px; top:180px;}
.index-container-bg2{ background:#fff; opacity:0.2;-moz-opacity:0.2; -webkit-opacity:0.2; filter:alpha(opacity=20); width:1240px; height:650px; border-radius:8px;position:absolute; z-index:1;left:50%; margin-left:-620px;top:160px;}
.index-container{ width:1200px; height:610px; overflow:hidden; color:#fff; position:relative; z-index:2;border-radius:6px; border:1px solid #283b58;position:absolute; z-index:3;left:50%; margin-left:-601px;top:179px;}
.index-container .left{ width:600px; float:left;}
.index-container .right{ width:565px; float:right; padding-top:15px; padding-right:20px;}
.index-iconnav ul li{ float:left; width:298px; border-right:1px solid #4e6687; border-bottom:1px solid #4e6687;}
.index-iconnav ul li a{ display:block; height:172px; padding-top:30px; color:#b8c2cd;}
.index-iconnav ul li a:hover{ text-decoration:none; background:#1b3051; color:#fff;}
.index-iconnav ul li a span{ width:100px; height:100px; margin:0 auto; display:block;}
.index-iconnav ul li a span img{ max-width:100px;max-height:100px;}
.index-iconnav ul li a p{ font-size:18px; font-family:Microsoft Yahei; text-align:center; padding-top:15px;}
.set-iconnav{position:absolute; left:2px; bottom:2px; z-index:100;}
.set-iconnav a{ display:block;background:url(../../../images/icon-ring.png) -4px -159px;width:31px;height:31px;  border-radius:4px; }
.set-iconnav a:hover{ background-position:-4px -194px;background-color:#172c4b;border:1px solid #0a2647; }


.index-tabs{ background:none; padding:0;}
.index-tabs .ui-tabs-nav{border-bottom:1px solid #1bbbff; padding:0; border-radius:0; padding-left:40px;}
.index-tabs .ui-tabs-nav li{top:0; padding:0;}
.index-tabs .ui-tabs-nav li a{
  padding: 0 25px;
  margin:0;
  line-height: 40px;
  color:#fff!important;
  font-family:Microsoft Yahei;
  border:none;
 }

.index-tabs .ui-tabs-nav li:hover{border:none;}
.index-tabs .ui-tabs-nav li a:hover{ color:#fff; background:#1b3356; border:none;} 
.index-tabs .ui-tabs-nav li.ui-tabs-active{ background:#1bbbff!important; border:1px solid #1bbbff; border-bottom:none;}
.index-tabs .ui-tabs-nav li.ui-tabs-active a{ background:#1bbbff!important; color:#fff;}

.index-tabs .ui-tabs-nav.indexnav-sub-tabs{ background:#1bbbff; border-radius:0; border:none;}
.index-tabs .ui-tabs-nav.indexnav-sub-tabs li a{ color:#c6eeff; border-radius:0;}
.index-tabs .ui-tabs-nav.indexnav-sub-tabs li a:hover{ background:#00aaf1; color:#fff;}
.index-tabs .ui-tabs-nav.indexnav-sub-tabs li.ui-tabs-active{ background:#1bbbff!important; border:none;}
.index-tabs .ui-tabs-nav.indexnav-sub-tabs li.ui-tabs-active a{ background: url(../../../images/index-arrow.png) no-repeat center bottom!important; color:#fff;}
.index-tabs .d-more{ display:block;background:url(../../../images/icon-ring.png) no-repeat 0 -90px; width:40px; height:30px; color:#b8c2cd; position:absolute; right:0;bottom:0;z-index:10;}
.index-tabs .d-more:hover{ background-position:0 -118px; text-decoration:none;}
.tabs-content{ padding:0!important; height:550px;}
.tabs-sub-content{padding:0!important;height:510px;}
.indexnav-tabs{padding-left:25px;}
.indexnav-tabs li a{ font-size:16px;}
.indexnav-sub-tabs li a{ font-size:14px;}
.message-list{ color:#b8c2cd; clear:both;}
.message-list a{color:#fff;}
.message-list h4{ font-size:16px; margin-bottom:10px;width:80%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.message-list li{border-bottom:1px solid #364f72; position:relative; padding:15px 0; line-height:1.8em;}
.message-list li:hover{ background:#1b3356;}
.message-list li .l{width:450px; margin-left:50px;}
.message-list li .read-state{ position:absolute; left:0; }
.message-list li .r{ position:absolute; top:15px; right:20px; text-align:right;}
.message-list li .r2{ right:140px;}
.message-list li .r .time{ font-size:20px; font-weight:bold; }
.message-list li .r .state{ color:#1bbbff; background:none;}
.message-list li .state-icon{ position:absolute; top:50%; _top:25px; margin-top:-15px; left:0;}
.message-list li .overflow-text{ width:80%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.message-list li .overflow-text2{ width:60%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.fline{ margin:0 10px;}
.read-state{background:url(../../../images/icon-ring.png) no-repeat 0 0; width:30px; height:30px;}
.read-state.unread{ background-position:0 -4px;}
.read-state.read{ background-position:0 -40px;}
.message-tt{color:#b8c2cd; line-height:40px; height:40px; border-bottom:1px solid #4e6687; padding:0 20px;}
.message-tt .l{ float:left;}
.message-tt .r{ float:right;}



/******首页导航设置*******/
.index-layer{ display:none;}
.index-layer .index-container-bg{ z-index:5; background:#214167; opacity:1;-moz-opacity:1;-webkit-opacity:1;}
.index-layer .index-container{z-index:6; overflow:visible;}
.index-layer .set-tt{ font-size:18px; font-family:Microsoft Yahei; text-align:center; background:#1b3051; border:1px solid #080d15; height:50px; line-height:50px;}
.index-layer .commitbox{ position:absolute; right:40px; top:8px;}
.index-layer .commitbox .btn{ margin-left:10px;}
.index-layer .close-in{ position:absolute; z-index:20;right:-20px; top:-20px;display:block; width:44px; height:44px;background:url(../../../images/icon-bg3.png) no-repeat 0 -114px;}
.index-layer .close-in:hover{ background-position:-49px -114px}
.index-layer .sm{ height:40px; line-height:40px; text-align:center; color:#bfc5d1;}
.index-layer .set-iconnav-list{border-top:1px solid #4e6687;border-bottom:1px solid #4e6687; height:393px; overflow-y:auto; overflow-x:hidden;
scrollbar-face-color:#1d375c;
scrollbar-highlight-color:#1d375c;
scrollbar-shadow-color:#1d375c;
scrollbar-3dlight-color:#1d375c;
scrollbar-arrow-color:#1d375c;
scrollbar-track-color:#1d375c;
scrollbar-darkshadow-color:#1d375c;
}
.index-layer .set-iconnav-list ul li{ float:left; width:149px; border-right:1px solid #4e6687; border-bottom:1px solid #4e6687;}
.index-layer .set-iconnav-list ul li a{ display:block; height:115px; padding-top:20px; color:#b8c2cd;}
.index-layer .set-iconnav-list ul li a:hover{ text-decoration:none; background-color:#1b3356; color:#fff;}
.index-layer .set-iconnav-list ul li.selected a{ position: absolute;z-index:10;border:1px solid #a7b3c3; background:#1d375c url(../../../images/icon-yes.png) no-repeat right 0; width:149px; box-shadow:4px 4px 15px rgba(27,187,255,0.5)} 
.index-layer .set-iconnav-list ul li a span{ width:60px; height:60px; margin:0 auto; display:block; text-align:center;}
.index-layer .set-iconnav-list ul li a span img{ max-width:60px;max-width:60px;}
.index-layer .set-iconnav-list ul li a p{ font-size:14px; font-family:Microsoft Yahei; text-align:center; padding-top:10px;}
.index-layer .set-iconnav-bottom{color:#b8c2cd;font-family:Microsoft Yahei; }
.index-layer .set-iconnav-bottom p{ padding-left:30px; padding-top:20px;font-family:Microsoft Yahei; font-size:14px; line-height:35px;}
.index-layer .set-iconnav-bottom .form-control{ background:#214167;border-color:#4e6687; color:#fff; }
.index-layer .set-iconnav-bottom .form-control:focus{ border-color:#9cb7c9;}
.index-layer .set-iconnav-bottom .icon-preview img{ max-width:60px;max-width:60px; position:relative; margin-top:-20px;}
.index-layer .set-iconnav-bottom  .commit .btn{ background:#1b3356;border-color:#4e6687; color:#b8c2cd; margin-left:10px;font-family:Microsoft Yahei;}
.index-layer .set-iconnav-bottom  .commit .btn:hover{ color:#fff; background-color:#1d3151;}
.index-layer .set-iconnav-bottom .sm2{ position:absolute; z-index:10; top:-25px; width:300px; color:#7297b5;}

/******首页导航设置end*******/

.index-tabs .ui-tabs-nav li.ui-tabs-active a{ border:none!important;}

.xs-scrollbar{
scrollbar-face-color: #fff;
scrollbar-highlight-color:#fff;
scrollbar-shadow-color:#fff;
scrollbar-3dlight-color:#1bbbfe;
scrollbar-arrow-color:#000;
scrollbar-track-color:#fff;
scrollbar-darkshadow-color:#fff;
}
.zhiban-list{
scrollbar-face-color: #364f72;
scrollbar-highlight-color:#112c53;
scrollbar-shadow-color:#112c53;
scrollbar-3dlight-color:#112c53;
scrollbar-arrow-color:#000;
scrollbar-track-color:#1b3356;
scrollbar-darkshadow-color:#112c53;
}
.zhiban-list li .l{ width:45%; padding-left:2%; float:left; margin-left:0;}
.zhiban-list li .l p a{  color:#b8c2cd; }
.zhiban-list li:hover a{ color:#1bbbfe;}
.zhiban-list li .l a:hover{ color:#1bbbfe; text-decoration:none;}

.zhiban-list::-webkit-scrollbar {
    width: 4px;
}
 
/* Track */
.zhiban-list::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
.zhiban-list::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background:#3c4350; 
}
.zhiban-list::-webkit-scrollbar-thumb:window-inactive {
	background: #4c5562; 
}
