@charset "utf-8";
/* CSS Document */
html,body{ height:100%; width:100%;}
.map-body{ background:#fff!important; width:100%; height:100%;}
#map-container{ width:100%; position:absolute; top:81px; bottom:0;background:#eee; overflow:hidden;}
.map-tools-box-bg{position:absolute; right:0; left:0;opacity:0.8;height:40px; background:#fff; }
.map-tools-box{ position:absolute; z-index:99; right:0; left:0;height:40px; background:#fff; border-bottom:1px solid #ccc;
-moz-box-shadow:0 2px 1px rgba(150,150,150,0.3);
-webkit-box-shadow:0 2px 1px rgba(150,150,150,0.3);
box-shadow:0 2px 1px rgba(150,150,150,0.3);
 }
.icon-select{
     background-color: #1bbbff;
 }
 
  .icon-select:hover{
     background-color: #1bbbff;
 }
 
 .icon-select:hover{
 	background-color: #1bbbff!important;
 }
 

.map-tools-group{float:right; background:#fff;}
.map-tools-group > ul > li{ float:left; display:block; padding:0 15px; height:40px; line-height:40px;border-left:1px solid #fff;border-right:1px solid #fff; color:#666; position:relative;}
.map-tools-group > ul > li:hover,.map-tools-group > ul > li.active{ background:#f8f8f8; border-left:1px solid #e8e8e8;border-right:1px solid #e8e8e8; color:#000;}
.map-tools-group > ul > li.current{ background:#ebf7ff; color:#007db4;border-left:1px solid #bdd4f3;border-right:1px solid #bdd4f3;}
.map-tools-group > ul > li .t-nav{ cursor:default;}
.map-tools-group > ul > li > .drop{ font-size:12px;background:#fff; position:absolute; left:0; right:0; z-index:1000;}
.map-tools-group > ul > li > .drop .t-subnav{border-bottom:1px solid #ddd; background:#fff; display:block;}
.map-tools-group > ul > li > .drop .t-subnav li{ padding-left:15px; line-height:35px; clear:both; cursor:default;}
.map-tools-group > ul > li > .drop .t-subnav li:hover{ background:#f8f8f8;}
.map-tools-group .tool-ceng{ display:none;}
.map-tools-group ul  li .t-icon{ display:block; width:25px; height:25px; margin-top:7px; background:url(../../../images/map-icon.png) no-repeat 0 0; float:left;}
.map-tools-group ul  li .t-icon-1{ background-position:0 1px;}
.map-tools-group ul  li .t-icon-2{ background-position:0 -23px;}
.map-tools-group ul  li .t-icon-3{ background-position:0 -48px;}
.map-tools-group ul  li .t-icon-4{ background-position:0 -74px;}
.map-tools-group ul  li .t-icon-5{ background-position:0 -98px;}
.map-tools-group ul  li .t-icon-flag{ background-position:-30px 1px;}
.map-tools-group ul  li .t-icon-zhi{ background-position:0 -123px;}

.map-tools-group ul  li .t-icon-e1{ background-position:-30px -24px;}
.map-tools-group ul  li .t-icon-e2{ background-position:-30px -50px;}
.map-tools-group ul  li .t-icon-e3{ background-position:0 1px;}
.map-tools-group ul  li .t-icon-e4{ background-position:-28px -74px; width:27px;}
.map-tools-group ul  li .t-icon-e5{ background-position:-28px -100px; width:27px;}


.map-tools-group ul  li .drop li .t-icon{ margin-top:5px; margin-right:5px; width:20px;}
.map-tools-group ul  li .t-icon-s1{ background-position:0 -161px;}
.map-tools-group ul  li .t-icon-s2{ background-position:0 -185px;}
.map-tools-group ul  li .t-icon-s3{ background-position:0 -207px;}
.map-tools-group ul  li .t-icon-s4{ background-position:0 -227px;}
.map-tools-group ul  li .t-icon-s5{ background-position:0 -252px;}

.map-tools-group ul  li .t-icon-z1{ background-position:0 -272px;}
.map-tools-group ul  li .t-icon-z2{ background-position:0 1px;}
.map-tools-group ul  li .t-arrow{ display:block; width:15px; height:15px; margin-top:5px; background:url(../../../images/map-icon.png) no-repeat -67px 5px; float:right;}

.map-tools-group > ul > li:hover .t-arrow,.map-tools-group > ul > li.active .t-arrow{ background-position:-67px -9px;}
.more-tool-layer > .map-tools-group > ul > li .t-arrow,.more-tool-layer > .map-tools-group > ul > li .t-arrow{background-position:-67px 5px;}
.more-tool-layer > .map-tools-group > ul > li:hover .t-arrow,.more-tool-layer > .map-tools-group > ul > li.active .t-arrow{ background-position:-67px -9px;}

.map-tools-group ul  li .t-icon-che{ background-position:-29px -153px;}
.map-tools-group ul  li .t-icon-lishi{background-position:-29px -180px;}
.map-tools-group ul  li .t-icon-kuang{ background-position:-29px -206px;}
.map-tools-group ul  li .t-icon-juxing{background-position:0px -24px;}
.map-tools-group ul  li .t-icon-duobianxing{ background-position:-31px -128px;}
.map-tools-group ul  li .t-icon-pai{background-position:-31px -230px;}

.map-tools-leftgroup{ float:left;}

.dropbox2{width:300px; min-height:80px;position:absolute; background:#fff;line-height:normal; border:1px solid #e8e8e8; }
.dropbox2 .nav-tabs{ background:#f8f8f8; padding-top:10px; padding-left:10px; position:relative;}
.dropbox2 .nav-tabs li{ padding:0;}
.dropbox2 .nav-tabs li a{ padding:8px 10px;line-height:normal; }
.dropbox2 .treebox{ padding:15px;}
.dropbox2  .cell-box{ line-height:22px; padding:5px 15px 10px 15px;}
.dropbox2  .cell-box .cell-t{ margin-top:8px; font-weight:bold; color:#777;}
.dropbox2  .cell-box .col-xs-4{ overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.dropbox2  .cell-box .selected{ color:#ff6600;}
.dropbox2  .close-dropbox2{ position:absolute; right:10px; top:5px; color:#aaa; background:#f8f8f8; width:20px; line-height:20px; height:20px; font-size:14px; text-align:center; text-decoration:none; cursor:pointer;}
.dropbox2  .close-dropbox2:hover{ background:#eee; color:#333}
/******** 地图工具 end  ******/



.map-tools-search{ float:left;width:400px; padding-left:20px; background:#fff; height:40px;}
.map-tools-search .input-search{float:left;  width:300px; padding-left:15px; height:40px; line-height:40px; padding:0; box-shadow:none; border:0 none; font-size:14px;}
.map-tools-search .btn-route,.map-tools-search .btn-search{ background: url(../../../images/icon-search.png) no-repeat 0 0;  float:left;  width:48px;height:40px;border:0 none; border-radius:0;padding:0; margin:0;}
.map-tools-search .btn-route{ background-position:0 0;width:36px;}
.map-tools-search .btn-search{background-position:-38px 0; background-color:#1bbbff; height:40px;}
.map-tools-search .btn-search:hover{ background-color:#00abf3;}

.map-search-box{ position:absolute; left:0; top:38px; bottom:0;width:403px; background:#fff; border-right:1px solid #bbb; border-top:1px solid #ddd; z-index:2; 
-moz-box-shadow:2px 0px 2px rgba(150,150,150,0.4);
-webkit-box-shadow:2px 0px 2px rgba(150,150,150,0.4);
box-shadow:2px 0px 2px rgba(150,150,150,0.4);
 }
.map-search-box .search-shuru{ background:#f8f8f8; border-bottom:1px solid #e8e8e8; padding:15px;}
.btn-clear-box{ text-align:right; padding:15px;}
.btn-clear-box2{text-align:right; border-top:1px solid #e8e8e8;}
.btn-clear{ font-size:12px; margin-top:2px; color:#aaa; background:none; border:0 none;}
.btn-clear:hover{ background:#fff; color:#1bbbff;}
.map-fold-btn{ position:absolute;top:45%; right:-26px; width:25px; height:75px; background:#fff url(../../../images/map-icon.png)  no-repeat 0 0; border:1px solid #bbb; border-left:none; display:block;
-moz-box-shadow:2px 2px 2px rgba(150,150,150,0.4);
-webkit-box-shadow:2px 2px 2px rgba(150,150,150,0.4);
box-shadow:2px 2px 2px rgba(150,150,150,0.4);
}
.map-fold-btn:hover{ background-color:#f8f8f8;}
.map-fold-btn.m-fold{background-position:-183px 20px}
.map-fold-btn.m-unfold{background-position:-210px 20px; display:none;}
.map-fold-box{ position:absolute; left:300px; top:35px; bottom:0; z-index:3;}
.search-result{ position:absolute; top:160px; border-top:1px solid #e8e8e8; bottom:0; left:0; right:0; padding:10px; overflow-x:hidden; overflow-y:auto; z-index:100;}
/******** 搜索 end  ******/


.map-plan-box{ left:auto; right:0;border-left:1px solid #bbb;
-moz-box-shadow:-2px 0px 2px rgba(150,150,150,0.4);
-webkit-box-shadow:-2px 0px 2px rgba(150,150,150,0.4);
box-shadow:-2px 0px 2px rgba(150,150,150,0.4);
}
.map-plan-box .map-fold-btn{ left:-26px; right:auto;border:1px solid #bbb; border-right:none;
-moz-box-shadow:-2px 2px 2px rgba(150,150,150,0.4);
-webkit-box-shadow:-2px 2px 2px rgba(150,150,150,0.4);
box-shadow:-2px 2px 2px rgba(150,150,150,0.4);
}
.map-fold-btn.m-fold-plan{background-position:-210px 20px}
.map-fold-btn.m-unfold-plan{background-position:-183px 20px; display:none;}
.map-tt{ font-weight:bold; font-size:14px; line-height:35px;color:#fff; padding-left:10px; background:#03285f; border-bottom:1px solid #e8e8e8;}
.map-tt .close,.map-tt2 .close{ display:block;width:20px; height:20px;background:url(../../../images/map-icon.png) no-repeat -126px -44px; margin-top:8px; margin-right:8px;opacity:1;-moz-opacity:1; filter:alpha(opacity=100);}
.map-tt .close:hover,.map-tt2 .close:hover{background-position:-126px -79px;}
.map-tt2{ font-weight: bold; font-size: 14px; height: 35px; line-height: 35px; color: #333; padding-left: 10px; background: #def0fc; border-bottom:1px solid #c1e4fd; }
.map-tt2 h2{font-size:14px;line-height:35px;}
.map-plan-content{ position:absolute; top:40px; bottom:0; left:0; right:0; background:#fff; overflow-x:hidden; overflow-y:auto; z-index:100;}
.map-plan-content .box{ padding:10px 15px;line-height:1.8em;}
.map-plan-content .map-line{ border-bottom:1px solid #e8e8e8; margin:5px -15px;}
.name-list li{ border-bottom:1px solid #e8e8e8; line-height:1.2em; padding:8px 10px; position:relative; }
.name-list .short-name{ margin-bottom:5px; font-size:14px;padding-left:20px;background:url(../../../images/dot2.png) no-repeat 0 0;}
.name-list .short-name span{ float:right;}
.name-list .full-name{ color:#aaa; font-size:12px;padding-left:20px;}
.name-list li:hover{ background-color:#f8f8f8;}
.name-list .num{ padding-top:10px; color:#aaa; margin-top:-5px;}
.name-list .num input{ border:1px solid #ddd; background:#f8f8f8; width:50px; height:16px;}
.name-list .num input:focus{ background:#fff; border-color:#1bbbff;}
.map-pagination{ margin-left:40px;}
.map-pagination li.active a{ background:#1bbbfe; border-color:#1aaafe}



.map-plan-content .box2 .row{ margin-bottom:8px;}
.map-plan-content .box2 input,.map-plan-content .box2 span{ font-size:12px;}
.map-plan-content .box2 p{}
.map-plan-content .box2 .dw-selected{border:1px solid #ddd; height:250px; overflow:auto; clear:both; margin-top:5px; background:#fff;}
.gather-flagbox { padding:15px; padding-right:0; background:#fcfcfc; border-top:1px solid #e8e8e8; border-bottom:1px solid #e8e8e8; }
.gather-flagbox ul.default{ margin-top:10px;}
.gather-flagbox ul.default li{ float:left; width:41px;}
.gather-flagbox ul.default li:hover{color:#1bbbff}
.gather-flagbox ul.default li p{ text-align:center;}
.grayscale{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
 filter: grayscale(100%);
 filter: gray;
}
.gather-icon{ display:block; width:40px; height:45px; background:url(../../../images/map-icon.png) 0 0;}
.gather-flagbox .gather-icon:hover,.gather-flagbox li.active .gather-icon{ background-color:#fff; 
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
 filter: grayscale(0%);
}
.gather-icon1{background-position:-109px -204px;}
.gather-icon2{background-position:-156px -204px;}
.gather-icon3{background-position:-207px -204px;}
.gather-icon4{background-position:-109px -254px;}
.gather-icon5{background-position:-156px -254px;}
.gather-icon6{background-position:-209px -254px;}


.gather-flagbox ul.marked{clear:both; margin-right:15px; margin-top:12px;}
.gather-flagbox ul.marked li{ clear:both; height:40px; border:2px solid #c4e9ff; background:#e2f4ff; padding:10px;}
.gather-flagbox ul.marked li .gather-icon{ float:left;}
.gather-flagbox ul.marked li .gather-icon:hover{ border:none; background-color:#e2f4ff;}
.gather-flagbox ul.marked li p{ padding-left:5px;width:190px; height:35px;display:table-cell; vertical-align:middle; }
.map-commitbox{ text-align:center; height:60px; margin-top:15px;}
.map-commitbox .btn{ font-size:14px;}
.zhihuibu{ padding:15px; padding-bottom:0; cursor:pointer; }
.gray-opacity{opacity:0.5; -moz-opacity:0.5; filter:alpha(opacity=50);}
.zhihuibu:hover{
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
 filter: grayscale(0%);
 opacity:1; -moz-opacity:1; filter:alpha(opacity=100);
 }
/******** 行动方案 end  ******/


/************************************** layer-plan 这段样式可以注销，使用弹出层控件 start****************/
.layer-plan{ position-----:absolute; background:#fff; 0border:1px solid #aaa; width:300px; min-height:200px; z-index:4;
-moz-box-shadow:0px 4px 25px rgba(150,150,150,0.5);
-webkit-box-shadow:0px 4px 25px rgba(150,150,150,0.5);
box-shadow:0px 4px 25px rgba(150,150,150,0.5);
}

/************************************** layer-plan 这段样式可以注销，使用弹出层控件 end***********************/
.layer-plan{width:300px; min-height:150px;}


.layer-plan .title{ padding-left:15px; line-height:35px; font-weight:bold;}
.layer-plan-overbox{ height:200px; overflow-x:hidden; overflow-y:auto; }
.layer-planbox { padding:15px; background:#fcfcfc; border-top:1px solid #e8e8e8; border-bottom:1px solid #e8e8e8;}
.layer-planbox .gather-icon{ border:none; height:32px;}
.layer-plan-commitbox{ text-align:center; padding:15px;}
.layer-plan-commitbox .btn{ margin-right:5px;}

.event-list .short-name{font-size:14px; background:url(../../../images/dot2.png) no-repeat 0 2px; padding-left:20px;}
.event-list .short-name span{ float:right;}
.event-list .short-name .checkbox{ float:right}
.event-list .full-name{ color:#aaa; font-size:12px;padding-left:20px;}
.event-list .full-name .time{float:right}

/******** 弹出层内容 end  ******/


.map{ background:#f8f8f8; width:100%; position:absolute; top:40px; bottom:0; z-index:0;}
/******** 地图 end  ******/


.layer-police,.layer-police-car{ width:250px; 
/*****border:1px solid #999; background:#fff; position:absolute; z-index:100;
box-shadow:4px 4px 5px rgba(150,150,150,0.4);
-moz-box-shadow:4px 4px 5px rgba(150,150,150,0.4);
-webkit-box-shadow:4px 4px 5px rgba(150,150,150,0.4);*****/
}
/*****.layer-police{ min-height:250px;}*****/
.layer-police-car{ min-height:135px;}
.layer-police .arrow,.layer-police .close{background:url(../../../images/map-icon.png)  no-repeat 0 0;}
.layer-police .arrow{ position:absolute; left:-18px; top:40%; z-index:20; display:block; width:20px; height:35px;background-position:-154px 0;}
.layer-police .arrow.arrow-bottom{ background-position:-154px -30px; width:35px;left:44%; top:auto; bottom:-20px; }
.layer-police .tt{ font-weight:bold; font-size:14px; line-height:35px;color:#666; padding-left:10px; background:#f8f8f8; border-bottom:1px solid #e8e8e8;}
.layer-police .tt .close{ display:block;width:20px; height:20px;background-position:-126px -44px; margin-top:8px; margin-right:8px;opacity:1;-moz-opacity:1; filter:alpha(opacity=100);}
.layer-police .tt .close:hover{background-position:-126px -79px;}
.layer-police .content{ padding:15px; line-height:1.8em; color:#666; position:relative;}
.layer-police .state{ background:#1cbbff; color:#fff; padding:1px 3px;}
.layer-police .map-line{ border-bottom:1px solid #e8e8e8; margin:10px -15px;}
.layer-police .input-group span{ font-size:12px;}
.layer-police .form-control,.layer-police .input-group span{ vertical-align:middle;border-radius:0;}
.layer-police .btn-send{ width:45px; font-size:12px; height:32px; padding:0; border-radius:0; vertical-align:middle;}
.layer-police .danwei{ width:70%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.layer-police .row{ position:relative;}
.layer-police .col-xs-9{ width:79%;}
.layer-police .btnbox{height:40px;color:#bbb; position:absolute; right:0; top:0;}
.btn-bo,.btn-hu,.btn-gui,.btn-stop,.btn-camera,.btn-zhi{height:22px; width:22px; padding:0; float:left; margin-left:4px; border:none; border:0; }

.btn-bo,.btn-hu{background:url(../../../images/map-icon.png)  no-repeat 0 0;}
.btn-bo{background-position:-89px -6px;}
/*****.btn-bo:hover,.btn-bo-open{background-position:-89px -107px;}****/
.btn-hu{background-position:-119px -6px;}
/*****.btn-hu:hover,.btn-hu-open{background-position:-119px -107px;}****/
.btn-gui,.btn-stop,.btn-camera,.btn-zhi{ background:url(../../../images/map-icon2.png) no-repeat 0 0; }
.btn-gui{background-position:-171px -36px;}
/*****.btn-gui:hover{background-position:-202px -36px;}****/
.btn-gui-open{background-position:-202px -96px;}

.btn-stop,.btn-stop:hover{background-position:-171px -66px;}
.btn-camera,.btn-camera:hover{background-position:-202px -64px;}

.btn-zhi{background-position:-250px -66px;}
.btn-zhi:hover,.btn-zhi-open{background-position:-278px -66px;}
.btn-zhi-open{background-position:-278px -95px;}
/******** 警察警车 end  ******/

.m-icon-add{background:url(../../../images/map-icon.png)  no-repeat -83px -38px; width:30px; height:30px; display:block; margin-top:-2px; margin-bottom:-2px;}

/******** 页面右侧的地图 ******/
#map-container.right-map{ background:none; top:141px; left:205px; right:15px; width:auto;}
#map-container.right-map .search-result{ top:205px; padding:15px;}
/******** 页面右侧的地图 ******/
.map-title1{ text-align:right; padding:10px 15px;}
.map-title1 h2{ float:left; font-size:18px; padding-top:5px;}
.map-title1 .btn-close{background:url(../../../images/map-icon.png)  no-repeat 0 0;}
.map-title1 .btn-close{width:20px; height:20px;background-position:-126px -44px; margin-top:8px; border:0 none; padding:0;}
.map-title1 .btn-close:hover{ background-position:-126px -79px;}
.map-tabs1 .nav-tabs li{ float:none; font-size:14px;}
.map-left-result{ padding:0 15px;}
.map-left-result .leftbox{ width:29%;}
.map-left-result .rightbox{ width:70%;background:#ebf7ff;border:1px solid #bde2fc; min-height:310px; _height:310px; margin-top:1px; }
.map-left-result .rightbox input{ float:left;margin-top:2px; }
.map-left-result .rightbox label{float:left; margin-left:10px; font-weight:normal; margin-bottom:0; width:94px; display:block;}
.map-left-result .rightbox .con{ display:none; margin:15px 0 15px 15px;}
.v-tabs{ padding:0;}
.v-tabs .nav-tabs{ border-bottom:0;}
.v-tabs .nav-tabs li{float:none;display:block;padding:0; z-index:100; border-radius:4px 0 0 4px; padding:0;}
.v-tabs .nav-tabs li a{display:block; float:none;margin:0;border:none;font-size:14px; color:#666;padding:0 0 0 10px; line-height:35px;}

.v-tabs .ui-tabs-nav{ padding:0; border-bottom:none;}
.v-tabs .ui-tabs-nav li{float:none;display:block;padding:0; z-index:100; border-radius:4px 0 0 4px;}
.v-tabs .ui-tabs-nav li a{display:block; float:none;margin:0;border:none;font-size:14px; color:#666;padding:0 0 0 10px; }
.v-tabs .ui-tabs-nav li:hover{ border:none;}
.v-tabs .ui-tabs-nav li a:hover{background: #f8f8f8;border:none; color:#0088cc;}
.v-tabs .ui-tabs-nav li.ui-tabs-active,.v-tabs .ui-tabs-nav li.ui-tabs-active:hover{ background:#ebf7ff;color:#0088cc;border:1px solid #bde2fc; border-right:none;margin-right:-1px;}
.v-tabs .ui-tabs-nav li.ui-tabs-active a{background:#e9f7ff; color:#0088cc; margin-bottom:0;}
.v-tabs .ui-tabs-panel{ padding:0;}



.route-tabs .nav-tabs{padding:0 15px; margin:0 -15px; border-bottom:1px solid #e8e8e8; border-radius:none;}
.route-tabs .nav-tabs li{display:block;padding:0; z-index:100;padding:0; width:20%; margin-right:4%;}
.route-tabs .nav-tabs li a{display:block; float:none;border:none;font-size:14px; color:#666;padding:0 0 0 10px; line-height:35px;}
.route-tabs .nav-tabs li a span{ display:inline-block; margin-top:5px; float:left;}
.route-tabs .nav-tabs li.current a{border-bottom:2px solid #1bbbff; margin-bottom:-1px;}
.route-tabs .nav-tabs li.current a:hover{ background:#f8f8f8;}
/******
.route-tabs .ui-tabs-nav{padding:0 15px;border-bottom:1px solid #e8e8e8;border-radius:none;}
.route-tabs .ui-tabs-nav li{display:block;padding:0; z-index:100;}
.route-tabs .ui-tabs-nav li a{display:block; float:none;margin:0;border:none;font-size:14px; color:#666;padding:0 0 0 10px; }
.route-tabs .ui-tabs-nav li:hover{ border:none;}
.route-tabs .ui-tabs-nav li a:hover{background: #f8f8f8;border:none;}
.route-tabs .ui-tabs-nav li.ui-tabs-active,.route-tabs .ui-tabs-nav li.ui-tabs-active:hover{color:#0088cc; border:none;border-bottom:2px solid #1bbbff; margin-bottom:0px;}
.route-tabs .ui-tabs-nav li.ui-tabs-active a{color:#1bbbff; margin-bottom:0;}
.route-tabs .ui-tabs-panel{ padding:0;}
*******/




.route-icon{ background:url(../../../images/map-icon2.png) no-repeat 0 0; width:25px; height:25px;display:inline-block; }
.route-icon.icon-bus{ background-position:-6px -5px;}
.route-icon.icon-car{background-position:-42px -5px;}
.route-icon.icon-walk{background-position:-73px -5px;}
.route-icon.icon-bike{background-position:-110px -5px;}
.route-icon.icon-start{background-position:-193px -5px;}
.route-icon.icon-end{background-position:-220px -5px;}
.route-icon.icon-delete{background-position:-225px -30px;}
.route-icon.icon-delete:hover{background-position:-250px -30px;}

.route-tabs .ui-tabs-nav li.ui-tabs-active a .route-icon.icon-bus{ background-position:-6px -35px;}
.route-tabs .ui-tabs-nav li.ui-tabs-active a .route-icon.icon-car{background-position:-42px -35px;}
.route-tabs .ui-tabs-nav li.ui-tabs-active a .route-icon.icon-walk{background-position:-73px -35px;}
.route-tabs .ui-tabs-nav li.ui-tabs-active a .route-icon.icon-bike{background-position:-110px -35px;}
.route-fill-box{ clear:both;}
.route-fill-box .btn-switch{width:25px;height:30px; background:url(../../../images/map-icon2.png) no-repeat -168px 0; padding:0;}
.route-fill-box .left{ padding-top:25px; width:12%;}
.route-fill-box .right{ width:78%;}
.route-fill-box .route-input{ border:none; border-bottom:1px solid #e8e8e8; height:35px; line-height:35px; padding-left:30px; box-shadow:none; font-size:14px; width:100%;}
.route-fill-box .icon-left{ float:left; margin-right:-50px;  margin-top:10px;position:relative;z-index:100; }
.route-fill-box .row{ position:relative;}
.route-fill-box .btn-del{ background:none; border:none; padding:0; position:absolute; right:-20px; top:5px;}

.map-tt3{ height:35px;border-bottom:1px solid #e8e8e8; clear:both;}
.map-tt3 h2{ font-size:14px; line-height:35px; padding-left:15px; float:left; }
.map-tt3.alt h2{ padding-left:0;}
.map-tt3 .right{ float:right; padding-top:5px;}
.map-tt3 .right .btn{ color:#888;}

.route-result-history{ top:215px; border-top:none;}
.route-result-route{ top:215px; border-top:none; padding:0 15px; }
.police-result{ top:40px; border-top:none;}
.police-group-result,.camera-result{padding:0; margin:15px 0; _height:400px; max-height:400px; overflow:auto;}
.route-list-history{ padding:0 15px;}
.route-list-history li{ margin-bottom:12px;color:#888;}
.route-list-history li{ background:url(../../../images/map-icon2.png) no-repeat -282px -38px; padding-left:30px;}

.route-list-route{ margin-top:10px; margin-bottom:15px;}
.route-list-route li{ position:relative; margin-bottom:10px;padding:10px; padding-top:20px; border-bottom:1px dotted #e8e8e8; color:#888;}
.route-list-route li .p1{ margin-bottom:10px;}
.route-list-route li:hover{background:#f8f8f8;border-color:#ddd;}

.route-list-route .bq{ position:absolute; left:0; top:0;background:url(../../../images/icon-flagbg.png) no-repeat right -38px; padding:0 12px 0 8px; height:22px; color:#fff;}
.route-list-route li.recommend{padding-top:20px;background:#d4eaf9;border-color:#bde2fc;background:#ebf7ff url(../../../images/icon-tui.png) no-repeat left 0;}
.route-list-route li.recommend .bq{ background-position:right  0;}

.police-list{ margin-bottom:0; margin:0;}
.police-list li:hover{ background:#f8f8f8;}
.police-list .row{color:#666;}
.police-list .left{width:auto;}
.police-list .cz{float:right; width:auto;}
.police-list .name{ font-size:12px;}

.police-list .color-gray2{ margin-right:10px; margin-left:10px;}
.police-group-list li{ padding:10px 15px;border-color:#bde2fc;}
.camera-result{ margin-top:0;}
.camera-list .cz{ width:25px;}
.camera-list input[type="checkbox"]{ margin-top:7px;}
.worker-list input[type="checkbox"]{ margin-top:0px;}

.police-list li,.camera-list li,.worker-list li{ padding-top:10px; margin-bottom:0;}
.alert-info{background:#d4eaf9;border-color:#bde2fc;}

.route-three{ padding-left:15px; font-size:14px;}
.route-three a{ display:block; width:31.5%; height:35px; line-height:35px; border:1px solid #e8e8e8; float:left; text-align:center;}
.route-three a.current{ background-color:#f0f0f0;}
.route-three a:hover{ text-decoration:none;}

.nav-tabs-m1{ background:#ebf7ff; margin-bottom:15px; margin-top:5px;border-right:1px solid #93c4ea;}
.nav-tabs-m1 li{ width:50%;}
.nav-tabs-m1 li a{ font-size:14px; border:1px solid #93c4ea;border-radius:0; margin-right:0; border-right:none;}
.nav-tabs-m1 li a:hover{ background:#fff;border-color:#93c4ea;}
.nav-tabs-m1 li.active a{border:1px solid #93c4ea;border-right:none; color:#0088cc; background:#fff;}
.nav-tabs-m1 li.active a:hover{border:1px solid #93c4ea;border-right:none;}
.palce-tt{ font-size:14px; color:#000; font-weight:bold;}

.camera-list input[type="checkbox"]{ margin-top:7px;}
.camera-list li{padding:10px 15px;}

.tool-kuangxuan{background:rgba(88,205,255,0.3);border:2px solid #55ccff; width:300px; height:300px; position:absolute; z-index:1000;}
.tool-m-draw{ cursor:crosshair;}
.kuang-round{background:rgba(255,76,76,0.3); border-color:#ff0000; border-radius:50%;}
.kuang-round .btn-camera{position:relative; 
}
.kuang-round .btn-camera.rotate{
transform:rotate(15deg);
-ms-transform:rotate(15deg); 	/* IE 9 */
-moz-transform:rotate(15deg); 	/* Firefox */
-webkit-transform:rotate(15deg); /* Safari 和 Chrome */
-o-transform:rotate(15deg); 	/* Opera */
}
.kuang-round .btn-camera.rotate.rotate-down-right{
transform:rotate(35deg);
-ms-transform:rotate(35deg); 	/* IE 9 */
-moz-transform:rotate(35deg); 	/* Firefox */
-webkit-transform:rotate(35deg); /* Safari 和 Chrome */
-o-transform:rotate(35deg); 	/* Opera */	
}
.kuang-round .btn-camera.rotate.rotate-down-left{
transform:rotate(145deg);
-ms-transform:rotate(145deg); 	/* IE 9 */
-moz-transform:rotate(145deg); 	/* Firefox */
-webkit-transform:rotate(145deg); /* Safari 和 Chrome */
-o-transform:rotate(145deg); 	/* Opera */	
}
.kuang-round .btn-camera.rotate.rotate-up-left{
transform:rotate(215deg);
-ms-transform:rotate(215deg); 	/* IE 9 */
-moz-transform:rotate(215deg); 	/* Firefox */
-webkit-transform:rotate(215deg); /* Safari 和 Chrome */
-o-transform:rotate(215deg); 	/* Opera */	
}
.kuang-round .btn-camera.rotate.rotate-up-right{
transform:rotate(310deg);
-ms-transform:rotate(310deg); 	/* IE 9 */
-moz-transform:rotate(310deg); 	/* Firefox */
-webkit-transform:rotate(310deg); /* Safari 和 Chrome */
-o-transform:rotate(310deg); 	/* Opera */	
}

.map-leftcon{ padding:0 15px;}
.input-label{ color:#666; padding-top:8px;}
.icon-btn-group .btn{ background:url(../../../images/map-icon2.png) no-repeat 0 0;height:27px; width:34px; padding:0; float:left; margin-right:10px; border:none; border:0; box-shadow:none;}
.icon-btn-group .icon-btn1{ background-position:-4px -105px}
.icon-btn-group .icon-btn2{ background-position:-48px -105px}
.icon-btn-group .icon-btn3{ background-position:-94px -105px}
.icon-btn-group .icon-btn4{ background-position:-139px -105px}
.icon-btn-group .icon-btn5{ background-position:-5px -105px}

.icon-btn-group .icon-btn1.current{ background-position:-4px -145px}
.icon-btn-group .icon-btn2.current{ background-position:-48px -145px}
.icon-btn-group .icon-btn3.current{ background-position:-94px -145px}
.icon-btn-group .icon-btn4.current{ background-position:-139px -145px}
.icon-btn-group .icon-btn5.current{ background-position:-5px -145px}


.hot-result{ top:90px; border-top:none; padding:0 15px; }
.hot-result ul li{ margin:0; padding:5px 0 0;}
.hot-result li .left{ font-size:14px;}
.hot-result li .right{ color:#888; padding-top:5px;}
.hot-result .sq-group{ float:right; width:100px;}
.hot-result .sq-group span{ display:inline-block; width:15px; height:6px; margin-right:2px; background:#eee; border:1px solid #ddd;}
.hot-result .sq-group span.sq-red{ background:#ff2222; border-color:#eb0000;}
.hot-result .sq-group span.sq-orange{ background:#ff6d00; border-color:#ef6600;}
.hot-result .sq-group span.sq-yellow{ background:#f2cd00;border-color:#ffa800;}
.hot-result .sq-group span.sq-blue{ background:#66cbff;border-color:#00a8ff;}
.hot-result .icon{background:url(../../../images/map/icon-site.png) no-repeat 0 0; width:24px; height:31px; color:#fff; display:inline-block; margin-right:10px; text-align:center; line-height:26px;}
.indication-hot{ position:absolute; top:auto; right:0; bottom:0; background:#fff; border-left:1px solid #ccc; border-top:1px solid #ccc; padding:15px; 
}
.indication-hot .sq-group{ margin-left:10px; width:auto;}
.indication-hot .sq-group span{ width:40px; height:16px; line-height:16px; color:#fff; text-align:center; margin-right:0;}
.indication-hot h5{ float:left; padding-top:2px;}
.map-date{ position:absolute; z-index:100; top:40px; right:0;background:#fff; border-left:1px solid #ccc; border-bottom:1px solid #ccc; padding:0 15px 20px 15px; width:570px;
border-bottom-left-radius:20px;
box-shadow:0 2px 1px rgba(150,150,150,0.3);
}
.map-date .row{ margin-top:-15px;}
.map-right-default{ margin-left:403px;}
.map-right-max{ margin-left:0;}
.map-left-tab{ margin-bottom:15px; padding-top:15px; background:#e9f7ff;}
.map-left-tab ul li .closethis{ background:url(../../../images/map-icon2.png) no-repeat -230px -39px; display:inline-block; width:18px; height:18px; position:absolute; z-index:1000; top:-5px; right:-10px; display:none; cursor:pointer;}
.map-left-tab ul li a:hover .closethis{ display:block; background-position:-256px -39px;}


.border-layer{
border:1px solid #ccc; background:#fff; z-index:100;
box-shadow:4px 4px 5px rgba(150,150,150,0.4);
-moz-box-shadow:4px 4px 5px rgba(150,150,150,0.4);
-webkit-box-shadow:4px 4px 5px rgba(150,150,150,0.4);
}
.bukong-photo{background:#0b0f18;height:300px; margin-bottom:15px;}
.bukong-photo .photo-img{ height:210px; background:#111;}
.bukong-photo .photo-name{color:#fff; padding:5px;clear:both; height:20px; line-height:20px;}
.bukong-photo .photo-tool{text-align:center;}
.bukong-photo .photo-tool .btn-default{color:#ccc; background:none; border:1px solid #aaa;}
.bukong-photo .photo-tool .btn-default:hover{ background:#000; border-color:#fff;color:#fff;}

/********轮播*******/
.bukong-photo-scroll  .anythingSlider{ padding:0; }
.bukong-photo-scroll  .anythingSlider-default.activeSlider .anythingWindow{ background:#111; border-color:#111; border-top:none;}
.bukong-photo-scroll .anythingSlider-default .panel{ border:none; text-align:center;}
.bukong-photo-scroll .anythingSlider-default .panel img{ height:100%;}
.bukong-photo-scroll .anythingSlider-default .arrow.back{ left:0;}
.bukong-photo-scroll .anythingSlider-default .arrow.forward{ right:0;}
.bukong-photo-scroll .anythingSlider-default.activeSlider .anythingControls a{ background-color:#000; color:#ccc}
.bukong-photo-scroll .anythingSlider-default.activeSlider .anythingControls a.cur{ color:#1bbbfe;}
.bukong-photo #slider {width: 300px;height: 270px;}
/********轮播*******/
.more-tool{ float:left;position:relative;}
.more-tool > .t-nav{background:url(../../../images/icon-down2.png) no-repeat 30px 13px; padding-right:20px;}
.more-tool .more-tool-layer{ width:150px; position:absolute; right:0; top:40px; background:#fff; border:1px solid #e8e8e8;}
.more-tool .more-tool-layer ul li{ width:118px;}
.more-tool .more-tool-layer ul li .drop { border:1px solid #bdd4f3;}
.more-tool .more-tool-layer ul li .drop li{ background:#fff; width:auto;}
.more-tool .more-tool-layer ul li .drop li:hover{ background:#ebf7ff;}
.more-tool .more-tool-layer ul li .drop .t-subnav{ border-bottom:none;}
.map-tools-group ul  li .t-event .con{ display:inline-block; vertical-align:middle; color:#1bbbfe;  max-width:60px;white-space:nowrap;overflow:hidden; text-overflow:ellipsis;}
.map-tools-group ul  li .t-close{ display:inline-block; cursor:pointer; width:20px; height:20px; margin-right:0; margin-left:3px; vertical-align:middle; background:url(../../../images/map-icon2.png) no-repeat -231px -38px; }
.map-tools-group ul  li .t-close:hover{ background-position:-256px -38px;}
.map-tools-group > ul > li > .drop-event{ width:250px; top:40px; border:1px solid #e8e8e8; padding:15px;}
.map-tools-group > ul > li > .drop-event li{ line-height:25px; padding:0; color:#666; cursor:default;}
.map-tools-group > ul > li > .drop-event li:hover{ color:#1bbbfe;}
.tool-ceng2{ display:none;}
.content-style1{line-height:1.8em; color:#666;}

.bk-scope{height:40px; line-height:40px; background:#dcefff; color:#000;}
.bk-scope input[type='checkbox']{ margin-right:5px; margin-left:10px; float:left; margin-top:13px;}


@media screen and (max-width:1200px){
.map-tools-rightgroup{ border:1px solid #ddd;}	
.map-tools-group > ul > li{ padding:0 13px;}
	}
@media screen and (min-width:1200px){
.more-tool .more-tool-layer{left:0; right:auto;}	
	}