<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
                          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
                          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                          http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.3.xsd
                          http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.3.xsd">

	<bean id="resourceRefreshAop" class="com.taiji.pubsec.ajqlc.security.ResourceRefreshAop" />
    <aop:config>  
        <aop:aspect id="resourceRefreshAopAspect" ref="resourceRefreshAop">
            <aop:pointcut id="resourceRefreshAopAspectPointer" expression="execution(* com.taiji..AuthorityResourceServiceImpl.create*(..)) || execution(* com.taiji..AuthorityResourceServiceImpl.update*(..)) || execution(* com.taiji..AuthorityResourceServiceImpl.delete*(..))" />
            <aop:after-returning method="doAfterReturning" returning="retVal"  pointcut-ref="resourceRefreshAopAspectPointer"/>
        </aop:aspect>  
    </aop:config>  
</beans>
	