<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
                          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
                          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                          http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">
 
    
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties</value>
				<value>classpath:config.properties</value>
                <value>classpath:dbtx-amq.properties</value>
			</list>
		</property>
	</bean>

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="${database.driverClassName}" />
		<property name="jdbcUrl" value="${database.url}" />
		<property name="user" value="${database.username}" />
		<property name="password" value="${database.password}" />
		<property name="maxPoolSize" value="${database.pool.max}" />
		<property name="minPoolSize" value="${database.pool.min}" />
		<property name="initialPoolSize" value="${database.pool.initial}" />
		<property name="idleConnectionTestPeriod" value="${database.pool.idle_test_period}" />
	</bean>
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
    	<property name="dataSource" ref="dataSource" />
 	</bean>

	<bean id="serviceConstant" class="com.taiji.pubsec.ajqlc.util.ServiceConstant">   
    	<constructor-arg index="0">
    		<value>${DH_IP}</value>
    	</constructor-arg>
    	<constructor-arg index="1">
    		<value>${DH_PORT}</value>
    	</constructor-arg>
    	<constructor-arg index="2">
    		<value>${SZPT_IP}</value>
    	</constructor-arg>
    	<constructor-arg index="3">
    		<value>${SZPT_PORT}</value>
    	</constructor-arg>
    	<constructor-arg index="4">
    		<value>${AGT_HOSTIP}</value>
    	</constructor-arg>
    	<constructor-arg index="5">
    		<value>${YJGZ_ZXQSJ}</value>
    	</constructor-arg>
    	<constructor-arg index="6">
    		<value>${AGT_SZPTDL}</value>
    	</constructor-arg>
    	<constructor-arg index="7">
    		<value>${AGT_SZPTIP}</value>
    	</constructor-arg>
    	<constructor-arg index="8">
    		<value>${STRAT_DATE}</value>
    	</constructor-arg>
    	<constructor-arg index="9">
    		<value>${DH_USER}</value>
    	</constructor-arg>
    	<constructor-arg index="10">
    		<value>${DH_PASSWORD}</value>
    	</constructor-arg>
	</bean>
    <bean id="errorRollbackDataMap" class="com.taiji.pubsec.ajqlc.wrapper.dhpt.wirstrollback.ErrorRollbackDataMap"></bean>
	<bean id="rollBackProcessor" class="com.taiji.pubsec.ajqlc.wrapper.dhpt.wirstrollback.RollBackProcessor">   
    	<property name="processors">
    	  <list>
    	    <bean class="com.taiji.pubsec.ajqlc.wrapper.dhpt.wirstrollback.WristRollbackProcessor">
    	    	<property name="wristbandService" ref = "wristbandServiceImpl"></property>
    	    	<property name="errorRollbackMap" ref="errorRollbackDataMap"></property>
    	    </bean>
    	     <bean class="com.taiji.pubsec.ajqlc.wrapper.dhpt.wirstrollback.LocationCardRollbackProcessor">
    	    	<property name="locationCardService" ref = "locationCardServiceImpl"></property>
    	    	<property name="errorRollbackMap" ref="errorRollbackDataMap"></property>
    	    </bean>
    	    
    	  </list>
    	</property>
    	<property name="errorRollbackMap" ref="errorRollbackDataMap"></property>
	</bean>
	
	<!-- TODO 配置定时器调用rollBackProcessor的process方法 -->
	<bean id="lockerServiceImpl" class="com.taiji.pubsec.ajqlc.wrapper.cwgdevice.service.LockerServiceImpl" init-method="init">   
    	<property name="cwgAdressCfg">
    	  <list>
    	    <value>area=1, tank=2, ip=10.161.91.230, port=8031</value>
    	    <value>area=1, tank=3, ip=10.161.91.231, port=8031</value>
    	  </list>
    	</property>
	</bean>
	<bean id="jumpUrlService" class="com.taiji.pubsec.ajqlc.login.BasedMemoryJumpPageAfterLoginImpl" init-method="init">   
    	<property name="roleConfigs">
    	  <list>
    	    <value>1301, /handlingAreaReceipt/showHandlingAreaReceiptListPage.action?clickOrder=1&amp;clickListOrder=0, 1</value>
    	    <value>1302, /handlingAreaReceipt/showHandlingAreaReceiptListPage.action?clickOrder=1&amp;clickListOrder=0, 2</value>
    	    <value>1303, /handlingAreaReceipt/showHandlingAreaReceiptListPage.action?clickOrder=1&amp;clickListOrder=0, 3</value>
    	    <value>1305,/storageIn/toStorageInRecord.action?clickOrder=1&amp;clickListOrder=0, 1</value>
    	  
    	  </list>
    	</property>
    	<property name="userConfigs">
    	  <list>
    	    <value>xnry02, /handlingAreaReceipt/showHandlingAreaReceiptListPage.action?clickOrder=1&amp;clickListOrder=0</value>
    	  </list>
    	</property>
	</bean>
	
	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan">
			<array>
              <value>com.taiji.pubsec.businesscomponent.organization.model</value>
              <value>com.taiji.pubsec.businesscomponent.authority.model</value>
              <value>com.taiji.pubsec.businesscomponent.dictionary.model</value>
			  <value>com.taiji.pubsec.businesscomponent.attachment</value>
			  <value>com.taiji.pubsec.ajqlc.attachment.model</value>
              <value>com.taiji.pubsec.ajqlc.generatenum.model</value>
              <value>com.taiji.pubsec.ajqlc.operationrecord.model</value>
              <value>com.taiji.pubsec.ajqlc.baq.model</value>
              <value>com.taiji.pubsec.ajqlc.sawp.model</value>
              <value>com.taiji.pubsec.ajqlc.sla.model</value>
              <value>com.taiji.pubsec.ajqlc.alert.model</value>
              <value>com.taiji.pubsec.springsecurity.acls.hibernate.model</value>
              <value>com.taiji.pubsec.common.tool.mission.task.core</value>
              <value>com.taiji.pubsec.ajqlc.exceptionLog.model</value>
              <value>com.taiji.pubsec.ajqlc.operationLog.model</value>
			</array>
		</property>
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="databasePlatform" value="${hibernate.dialect}" />
				<property name="showSql" value="${hibernate.show_sql}" />
				<property name="generateDdl" value="${hibernate.generateDdl}" />
			</bean>
		</property>
		<property name="jpaPropertyMap">
			<map>
				<entry key="hibernate.format_sql" value="${hibernate.format_sql}" />
				<entry key="hibernate.hbm2ddl.auto" value="${hibernate.hbm2ddl.auto}" />
                <entry key="hibernate.ejb.interceptor" value="com.taiji.persistence.interceptor.CustomizedInterceptor" />
			</map>
		</property>
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<!-- 2.定义事务通知 ,并指定关联的事务管理器 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<!-- 在属性中定义事务规则 -->
		<tx:attributes>
			<tx:method name="create*" propagation="REQUIRED" />
            <tx:method name="on*" propagation="REQUIRED" />
			<tx:method name="save*" propagation="REQUIRED"  />
			<tx:method name="modify*" propagation="REQUIRED" />
			<tx:method name="edit*" propagation="REQUIRED" />
			<tx:method name="remove*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="sign*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="done*" propagation="REQUIRED" />
			<tx:method name="find*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="query*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="is*" propagation="SUPPORTS" read-only="true" />
		</tx:attributes>
	</tx:advice>

	<!-- 3.定义aop:config -->
	<aop:config>
		<aop:pointcut id="serviceMethods" expression="execution(* com.taiji..service.impl.*.*(..))" />
        <aop:pointcut id="ormMethods" expression="execution(* com.taiji..service.*.*(..))" />
        <aop:pointcut id="ormMethods1" expression="execution(* com.taiji..*Service.*(..))" />
        <aop:pointcut id="ormMethods2" expression="execution(* com.taiji..*ServiceImpl.*(..))" />
        <!-- 
        <aop:pointcut id="ormMethods3" expression="execution(* com.taiji..*Builder.*(..))" />
        <aop:pointcut id="ormMethods4" expression="execution(* com.taiji..*Executor.*(..))" />
         -->
		<!-- 将事务通知和切面组合 -->
		<aop:advisor advice-ref="txAdvice" pointcut-ref="serviceMethods" />
        <aop:advisor advice-ref="txAdvice" pointcut-ref="ormMethods" />
        <aop:advisor advice-ref="txAdvice" pointcut-ref="ormMethods1" />
        <aop:advisor advice-ref="txAdvice" pointcut-ref="ormMethods2" />
        <!-- 
        <aop:advisor advice-ref="txAdvice" pointcut-ref="ormMethods3" />
        <aop:advisor advice-ref="txAdvice" pointcut-ref="ormMethods4" />
         -->
	</aop:config>



	<tx:annotation-driven transaction-manager="transactionManager" />

	<context:component-scan base-package="com.taiji.*" />

	<bean id="jpaDao" class="com.taiji.persistence.dao.JpaDaoImpl" />
	
	<bean id="jpaSqlDao" class="com.taiji.persistence.dao.JpaSqlDaoImpl">
	 <property name = "dataSource" ref="dataSource" />   
	</bean>

	<bean id="springContextUtil" class="com.taiji.pubsec.common.tool.spring.SpringContextUtil" />

    <aop:aspectj-autoproxy />  
</beans>
	