<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--登陆页地址-->
  
    <add key="isTest" value="false" />
    <!--normal:正常运行模式，testWeb:浏览测试模式-->
    <add key="startMode" value="normal" />
    <add key="isTest" value="false" />
    <add key="isShowErrHtml" value="true" />
    <add key="isShowNavigatMessageBox" value="true" />
    <add key="jsonTextPath" value="\data\textJson.json" />
    

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>