@charset "utf-8";
/* CSS Document */

/**********************************基本设定开始*******************************/
body{
   margin:0px;
   padding:0px;
   font-size:14px;
   background:#fcfcfc url(../../../images/left-bg.png) repeat-y 0 0;
   _background:#fcfcfc url(../../../images/left-bg.png) repeat-y 0 0!important;/*ie6*/
   _height:100%;
   font-family:'Microsoft YaHei','Tahoma','Arial','Times New Roman','LiHei Pro Medium','SimSun',SimHei;
   -webkit-font-smoothing: antialiased; 
 }

@media only screen and (min-width: 100px) {
  .container {
    max-width: 1000px;
  }}
.row{ margin:0; padding:0;}  
.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12{ 
padding:0;
}


.clear{height:0;font-size:1px;clear:both;line-height:0;}
body, p, h1, h2, h3, h4, h5, h6, hr, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, img {
	 font-family:'Microsoft YaHei','Tahoma','Arial','Times New Roman','LiHei Pro Medium','SimSun',SimHei;
}
p{ padding:0; margin:0px;}

h1, h2, h3, h4, h5, h6{
font-family:"Microsoft Yahei";margin:0; padding:0;
}
button, input, select, textarea {
	font-size: 12px;
	outline:none;
}
ul, ol {
	list-style: none;
	padding:0px;
	margin:0px;
}
a{color:#007cd2;}
a:hover{ color:#0099da;}
img {
	border:0px;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.t-over{overflow: hidden; text-overflow:ellipsis;white-space:nowrap;}/*模拟input使用*/
/**********************************基本设定结束*******************************/


/**********************************覆盖控件开始*******************************/
/************************bootstrap***************************/

hr {
  height: 0;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
* {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
*:before,
*:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
.control-label{ font-weight:normal; text-align:right; line-height:28px; padding:0; }
.form-control{ box-sizing:border-box;}
.form-control:focus{ background:#e4f6ff;}
.form-horizontal .form-group {
  margin-right: 0px;
  margin-left: 0px;
}
.btn{ border-radius:2px;}

.btn-primary{ background-color:#1d98de; border-color:#1d98de;}
.btn-primary:hover{ background-color:#0a86cd;border-color:#0a86cd;}
.btn-info{ background-color:#6dd0f9; border-color:#6dd0f9;}
.btn-info:hover{ background-color:#54c1ee;border-color:#54c1ee;}
.btn-warning{background-color:#ffae00; border-color:#ffae00;}
.btn-warning:hover{ background:#ff9a00; border-color:#ff8900;}
.btn-default{}
.btn-default:hover{ background:#eee;}
.btn-success{background-color:#66d9c5;border-color:#66d9c5;}
.btn-success:hover{background-color:#00c8a5; border-color:#00c8a5;}
.btn-danger{background-color:#ff8686;border-color:#ff8686;}
.btn-danger:hover{  background-color:#f86262; border-color:#f86262;}
.input-group-addon{ padding-left:7px; padding-right:7px; background-color:#f4f4f4;}

.input-group[class*="col-"] {
  float: left;
  padding-right: 0;
  padding-left: 0;
}
.progress-bar-primary{background-color:#1bbbfe;}
.table-hover > tbody > tr:hover{ background:#fbfbfb;}
.table-hover > tbody > tr:hover td{}
.input-group .form-control {
  position: static;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}
.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: default;
  color:#999;
  background:#fff;
}
.form-control[readonly],
fieldset[readonly] .form-control {
  cursor: default;
  color:#999;
  background:#fff;
}
/******ie6*******/
form{ margin-bottom:0;}
.row{ clear:both;}
.btn-group{ display:inline-block; _display:inline;*display:inline;}
.btn{ outline:none; margin:0; margin-left:5px; *padding:3px 10px 3px 10px;_filter:chroma(color=#000000)/*ie6去黑色边框*/;}
.btn:focus{outline:none;}
a:focus, *:focus {noFocusLine: expression(this.onFocus=this.blur());}
.btn-xs{_padding:0 6px; line-height:20px; font-size:12px;}
.form-group{ margin-bottom:10px;}
.input-group{_margin-bottom:10px;}
.form-control{ box-sizing:border-box;padding:0!important; *width:98%; display:inline;/**ie6**/}
.input-group .form-control{_display:inline-block; padding:0; *width:98%/**ie6**/;}
.form-horizontal{ margin-top:0;}
.control-label{ padding-right:10%; margin-bottom:0; padding-top:0; display:block; width:96%!important;/**ie6**/}
.form-horizontal .control-label{padding-top:2px;}
select.form-control{ _border:1px solid #ccc; _height:30px!important;}
*input.form-control{  line-height:28px; height:28px;}/**ie6**/
.input-group-addon{ _display:none;*display:none;}
select{ font-family : Trebuchet MS; _height:30px; }
/******ie6*******/
.input-sm{
  padding:5px!important;
  *padding:5px 0 0 0!important;
  *height:25px;
  border-color:#ccc;
  font-size:14px;
 vertical-align:middle; 
}
.btn-sm{ padding:4px 10px; line-height:none; vertical-align:middle;}
/******ie7*******/
.alert:after,.row:after{ *display:block; *clear:both; *content:"."; *visibility:hidden; *height:0;}
.alert,.row{ *zoom:1; *display:inline-block;}
.input-group-addon{ cursor:default;}
/************************bootstrap end***************************/
.control-div{
	display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
	font-weight: normal;
    text-align: right;
    line-height: 28px;
    padding: 0!important;
    padding-right: 10%;
    width: 90%;
}

.content-div{
	display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
	font-weight: normal;
    text-align: left;
    line-height: 28px;
    padding: 0!important;
    padding-right: 10%;
    width: 90%;
}
/************************jquery-ui start***************************/
input[type="text"],
input[type="password"],
textarea,
{ color:#333;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{ box-shadow:none;}
input[type="text"],
input[type="password"],
.ui-autocomplete-input,
textarea,
.uneditable-input {
  line-height: 18px;
  color: #555;
  border: 1px solid #ccc;
  padding-left:10px;
}
.ui-widget-content a{ color:#007cd2;}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{ font-size:14px;  font-family:'Microsoft YaHei','Tahoma','Arial','Times New Roman','LiHei Pro Medium','SimSun',SimHei; }
input[type="text"], input[type="password"], .ui-autocomplete-input, textarea, .uneditable-input{ font-size:inherit;}

/************************jquery-ui end***************************/


/************************dataTables start***************************/
.dataTables_wrapper .dataTables_length {
  float: left;
  padding-top:10px;
}
.dataTables_wrapper .dataTables_paginate {
  color: #666!important;
  float: right;
  text-align: right;
  padding-top: 1em;
  padding-bottom:1em;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  color: #666 !important;
  border: 1px solid transparent;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: #666 !important;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #333;
  border: 1px solid #cacaca;
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #dcdcdc));
  /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* Chrome10+,Safari5.1+ */
 background: -moz-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* FF3.6+ */
 background: -ms-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* IE10+ */
 background: -o-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* Opera 11.10+ */
 background: linear-gradient(to bottom, white 0%, #dcdcdc 100%);
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  border: 1px solid #1bbbfe;
  background-color: #1bbbfe;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1bbbfe), color-stop(100%, #00a7ed));
  /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top, #1bbbfe 0%, #00a7ed 100%);
  /* Chrome10+,Safari5.1+ */
background: -moz-linear-gradient(top, #1bbbfe 0%, #00a7ed 100%);
  /* FF3.6+ */
background: -ms-linear-gradient(top, #1bbbfe 0%, #00a7ed 100%);
  /* IE10+ */
background: -o-linear-gradient(top, #1bbbfe 0%, #00a7ed 100%);
  /* Opera 11.10+ */
background: linear-gradient(to bottom, #1bbbfe 0%, #00a7ed 100%);
  /* W3C */
}  
 .dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: #666;
} 
table.dataTable{ border-top:1px solid #b5daf5;}
table.dataTable thead th,
table.dataTable thead td {
  padding: 8px 8px;
  border: 1px solid #b5daf5;
  border-right:none;
  background:#def0fc;
  color:#666;
}  
table.dataTable tfoot th,
table.dataTable tfoot td {
  padding: 8px 8px;
  border-bottom: 1px solid #ddd;
   border-left:1px solid #ddd;
   border-right:none;
  background:#eee;
}  
table.dataTable thead th,
table.dataTable tfoot th {
  font-weight: normal; font-size:14px; 
}
table.dataTable tfoot th{ color:#999;}
table.dataTable tbody th,
table.dataTable tbody td {
  padding: 8px 8px;
  font-size:14px;
  border-left:none;
  border-right:none;
  border-top:none;
  vertical-align:middle;
  border-bottom:1px solid #e2e2e2!important;
  color:#111;
}
.dataTables_wrapper{}
.dataTables_wrapper .dataTables_length{ width:150px; }
.dataTables_wrapper .dataTables_filter {
  float: right;
  text-align: right;
  padding-top:5px;
  width:170px;
   font-weight:normal;
}
.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.5em;
  border:1px solid #ccc;
  height:25px;
  line-height:25px;
  width:100px;
}
.dataTables_wrapper .dataTables_filter input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
table.dataTable thead .sorting {
  background-image: url("../../../images/data-new-sort_both.png");
}
/************************dataTables end***************************/

/************************icheck***************************/
.icheckbox{ margin-right:10px; display:none;}
.select2-dropdown {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051; }
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #1bbbfe;
  color:#fff; } 
.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #eee; color:#333;}   
.icheckradio{ margin-right:10px;} 

.icheckbox_square-green,.iradio_square-green{ _display:inline;}
.icheckbox{
	 _position:relative!important;
	_top:0!important;
	_left:0!important;
	_width:16px!important;
	_height:16px!important;
	_border:1px solid #0099aa!important;
	_opacity:1!important;
	_display:inline;
}
.iCheck-helper{
	_display:none!important;
}
.icheckradio{
	 _position:relative!important;
	_top:0!important;
	_left:0!important;
	_width:16px!important;
	_height:16px!important;
	_border:1px solid #0099aa!important;
	_opacity:1!important;
	_display:inherit;
}
/************************icheck***************************/


/************************tips***************************/
.ui-tooltip, .arrow:after {
    background: #41d3bd;
	border:1px solid #41d3bd;
  }
.ui-tooltip {
    padding: 4px 10px;
    color: white;
    border-radius: 35px;
    font-size:12px;
	 font-family:'Arial','Tahoma','Times New Roman','LiHei Pro Medium','SimSun','Microsoft YaHei',SimHei; 
    text-transform: none ;
   box-shadow: 2px 5px 5px -5px rgba(0,0,0,0.3);
   opacity:0.9;
  -moz-opacity:0.9;
 -webkit-opacity:0.9;
 filter:alpha(opacity=90); 
  }

.ui-tooltip  .arrow.top {
    top: -16px;
    bottom: auto;
  }
.ui-tooltip  .arrow.left {
    left: 50%;
  }

.ui-tooltip .arrow-bottom, .ui-tooltip .arrow-top, .ui-tooltip .arrow-left, .ui-tooltip .arrow-right{
    overflow: hidden;
    position: absolute;
    width: 0;
	height:0;
    
}
.ui-tooltip .arrow-bottom{
    left:50%;
    margin-left: -10px;
    bottom: -12px;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	border-top:10px solid #41d3bd;
	box-shadow: 2px 5px 5px -5px rgba(0,0,0,0.3);
}
.ui-tooltip .arrow-top{
    left:50%;
    margin-left: -10px;
    top:-12px;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
    border-bottom:10px solid #41d3bd;
    
}
.ui-tooltip .arrow-left{
	left:-12px;
	bottom:50%;
	margin-bottom:-8px;
	border-right:13px solid #41d3bd;
	border-top:8px solid transparent;
	border-bottom:8px solid transparent;
	border-left:none;
}
.ui-tooltip .arrow-right{
	right:-12px;
	bottom:50%;
	margin-bottom:-8px;
	border-left:13px solid #41d3bd;
	border-top:8px solid transparent;
	border-bottom:8px solid transparent;
	border-right:none;
}

  
  
/************************tips***************************/

/************************select2***************************/
.select2-container--default .select2-selection--single .select2-selection__arrow b{
	_border-color:#888 #fff #fff #fff;
	_border-width:5px 4px 0 4px;
	_font-size:0;
	_line-height:0;
	_overflow:hidden;
}
.select2-search--dropdown{ _width:200px;}
.select2-dropdown{ _border:none; _padding:0;_background:#f0f0f0; _top:1px;}
.select2-container .select2-selection--single{border:1px solid #ccc;_border:1px solid #ddd;}
.select2-search__field{ box-shadow:none;}
.select2-search__field:focus{box-shadow:none;}
.select2-container--default .select2-selection--multiple .select2-selection__choice{ margin-top: 3px; }
.select2-container .select2-search--inline .select2-search__field{margin-top: 3px; }
.select2-container .select2-selection--multiple{min-height: 28px; line-height: 19px;}
.select2-container--default.select2-container--focus .select2-selection--multiple{ border: 1px solid #66afe9; }
.select2-container .select2-selection--single{ height: 30px; }
/************************select2***************************/



/************************ztree***************************/
.m-ztree-out{ 
    padding:10px;
	border:1px solid #ddd;	
	background: #fff;
}
.ztree-MenuContent{
	display:none;
	position:absolute;
	background: #fff;
    padding:10px;
    border:1px solid #ddd;
}
.ztree-MenuContent .ztree{
	margin-top:10px;
	overflow:auto ;
}
.ztree li a.curSelectedNode {
	background-color: #cceee1;
	border: 1px #cceee1 solid;
}

.ztree{
	overflow:auto ;
}

/************************ztree***************************/
/**********************************覆盖控件结束*******************************/


/************************table系列开始********************/
/**完整表格**/
table.m-ui-table-whole{border:none;border-top: 1px solid #bde2fc; margin-bottom:0;border-collapse: collapse;}
table.m-ui-table-whole thead th,
table.m-ui-table-whole thead td{  
  padding: 8px 8px;
  border: 1px solid #bde2fc;
  color:#666;
  background:#def0fc;
  font-weight:normal;
  font-size:14px;
  vertical-align:middle;
  }
table.m-ui-table-whole tbody th,
table.m-ui-table-whole tbody td{
border-left:none;
border-right:none;
font-size:14px;
vertical-align:middle;
 padding: 8px 8px;
 word-break:break-all;
 word-wrap:break-word;
}
table.m-ui-table-whole tfoot th,
table.m-ui-table-whole tfoot td{
  padding: 8px 8px;
  border-bottom: 1px solid #ddd;
   border-left:1px solid #ddd;
   border-right:none;
  background:#eee;
  font-weight:normal;
}

/**带左右上下border的表格**/
table.m-ui-table-border{border:none;border-top: 1px solid #bde2fc; margin-bottom:0;border-collapse: collapse;}
table.m-ui-table-border thead th,table.m-ui-table-border thead td{  
  padding: 8px 8px;
  border: 1px solid #bde2fc;
  color:#666;
  background:#def0fc;
  font-weight:normal;
  font-size:14px;
  vertical-align:middle;
  }
table.m-ui-table-border tbody th,table.m-ui-table-border tbody td{
font-size:14px;
vertical-align:middle;
border-color:#ccc;
}

/**不带分页的表格**/
table.m-ui-table-no-paginate{border:none;border-top: 1px solid #bde2fc; margin-bottom:0; border-collapse: collapse;}
table.m-ui-table-no-paginate thead th,table.m-ui-table-no-paginate thead td{  
  padding: 6px;
  border: 1px solid #bde2fc;
  color:#666;
  background:#def0fc;
  font-weight:normal;
  font-size:14px;
  vertical-align:middle;
  }
table.m-ui-table-no-paginate tbody th,table.m-ui-table-no-paginate tbody td{
border-left:none;
border-right:none;
font-size:14px;
padding: 6px;
vertical-align:middle;
}
table.m-ui-table-no-paginate{
border-bottom:none!important;
}
/**不带表头的表格**/
table.m-ui-table-no-head{margin-bottom:0;border-collapse: collapse; border:none;}
table.m-ui-table-no-head thead th,table.m-ui-table-no-head thead td{  
  padding: 8px;
  color:#666;
  background:#eee;
  font-weight:normal;
  font-size:14px;
  vertical-align:middle;
  }
table.m-ui-table-no-head tbody th,table.m-ui-table-no-head tbody td{
font-size:14px;
border-left:none;
border-right:none;
border-color:#e8e8e8;
}
table.m-ui-table-no-head tbody tr:hover{ background-color:#f8f8f8;}


/**不带显示数目和搜索的表格**/
table.m-ui-table-no-num{border:none;border-top: 1px solid #bde2fc; margin-bottom:0;border-collapse: collapse;}
table.m-ui-table-no-num thead th,table.m-ui-table-no-num thead td{  
  padding: 8px!important;
  border: 1px solid #bde2fc;
  color:#666;
  background:#ebf7ff;
  font-weight:normal;
  vertical-align:middle;
  font-size:12px;
  font-family:Arial,Simsun;
  }
table.m-ui-table-no-num tbody th,table.m-ui-table-no-num tbody td{
 padding: 8px!important;
border-left:none;
border-right:none;
}

/************************table系列结束********************/
/************************tab系列结束********************/
.ui-tabs .ui-tabs-nav li a{ padding:0 12px;}
.m-ui-tabs{ padding:0;}
.m-ui-tabs .ui-tabs-nav{ border:none; background:#03285f;  }
.m-ui-tabs .ui-tabs-nav li{border-radius:0; 
  border-bottom:none; position:relative; top:0;}
.m-ui-tabs .ui-tabs-nav li a {
  font-size:14px;
  color:#d4dbef;
  border:none;
  margin-right:0;
  margin-top:0;
 border:1px solid #89a6bd; 
 border-top-left-radius:6px;
  border-top-right-radius:6px;
 }
.m-ui-tabs .ui-tabs-nav li:hover{margin-bottom:0; color:#fff; background:none; border:none;  }
.m-ui-tabs .ui-tabs-nav li a:hover{margin-bottom:0; color:#fff; background:none;  } 
.m-ui-tabs .ui-tabs-nav li.ui-tabs-active, .m-ui-tabs .ui-tabs-nav li.ui-state-disabled a, .m-ui-tabs .ui-tabs-nav li.ui-state-processing a{border:none;}
.m-ui-tabs li.ui-tabs-active a{ color:#000;}
.m-ui-tabs li.ui-tabs-active a:hover{color:#000;}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a{ border:1px solid #fff; }
.ui-tabs .ui-tabs-nav li.ui-tabs-active{ background:#fff;
 border-top-left-radius:6px;
  border-top-right-radius:6px;
  }
.m-ui-tabs .ui-tabs-panel{padding:0;}

/*************tab1*************/

.m-ui-tabs2{ padding:0;}
.m-ui-tabs2 .ui-tabs-nav{ padding:0; background:#def0fc; border-color:#bde2fc; border-bottom:}
.m-ui-tabs2 .ui-tabs-nav li{ margin-right:15px;}
.m-ui-tabs2 .ui-tabs-nav li a {
  padding: 0 25px;
  margin-right:0;
  line-height: 40px;
  font-size:16px;
  color:#333;
  font-family:Microsoft Yahei;
  border:1px solid #bde2fc;
  border-bottom:none;
 }
.m-ui-tabs2 .ui-tabs-nav li a:hover{ background:#fff;  border-bottom:none;} 
.m-ui-tabs2 li.ui-tabs-active, .m-ui-tabs2 li.ui-state-disabled a, .m-ui-tabs2 li.ui-state-processing a {background-color:#fff; border-color:#b0d7f3!important;}
.m-ui-tabs2 li.ui-tabs-active a{ background:#fff!important;outline:none;!important }
.m-ui-tabs2 .ui-tabs-panel{padding:0;}
/*************tab2*************/


.m-ui-tabs3{ padding:0;}
.m-ui-tabs3 .ui-tabs-nav{ padding:0; border-color:#ccc;}
.m-ui-tabs3 .ui-tabs-nav li{  border-radius:0;}
.m-ui-tabs3 .ui-tabs-nav li a {
  color:#0081db;
  padding-left:10px; padding-right:10px;
  border:none!important;
  border-radius:0;
 }
.m-ui-tabs3 .ui-tabs-nav li:hover,.m-ui-tabs3 .ui-tabs-nav li a:hover{ background:#fff;} 
.m-ui-tabs3 li.ui-tabs-active, .m-ui-tabs2 li.ui-state-disabled a, .m-ui-tabs2 li.ui-state-processing a {}
.m-ui-tabs3 li.ui-tabs-active a{ outline:none!important; color:#000;}
.m-ui-tabs3 .ui-tabs-panel{padding:0;}


/*************tab3*************/


/************************tab系列结束********************/

/***********************滚动条美化start********************/
::-webkit-scrollbar {
    width: 6px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(159,208,242,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(200,235,255,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(112,207,255,0.4); 
}
/*html{
scrollbar-face-color: #eee;
scrollbar-highlight-color:#ddd;
scrollbar-shadow-color:#ddd;
scrollbar-3dlight-color:#fff;
scrollbar-arrow-color:#000;
scrollbar-track-color:#fff;
scrollbar-darkshadow-color:#fff;
}
滚动条颜色太浅不明显*/

/***********************滚动条美化end********************/
::selection{background:#cfeafc; color:#000; /* Safari */} ::-moz-selection{background:#cfeafc; color:#000; /* Firefox */ }

/***********************选区文字背景色end********************/

/***************************************整体框架布局start************************************/
/************************基本结构开始***********************/

#c-top{height:81px;
  border-bottom:1px solid #f5f5f5;
   position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
	top: 0;
}
#c-center{ margin-top:81px; }
#c-center-left-menuHeight{
}
#c-center-left{
width:190px;
float:left;
color:#fff;
z-index:1;
background:#03285f;
position:fixed;
margin-right: -100%;
}
#c-center-left .clickActive{
	color:#1bbbfe;
}
#c-center-left .clickActive:hover{
	color:#fff;
}

#c-center-left-menuHeight{
}
#c-center-leftfold{
}
#c-center-right{
float: left; 
width: 100%;
}
#c-center-right-content{
margin:10px 15px 15px 15px;
margin-left: 205px;
}
/***right 再次分为左右结构***/
#c-center-right-content-block{clear:both;}
#c-center-right-content-bar{
float:left;
margin-right: -241px;	
width:220px;
padding:15px;
padding-left:0;
overflow-x:auto;
position:relative;
z-index:100;
border-right:1px solid #ccc;
}
#c-center-right-content-con{
 margin:0;
 width:100%;
 float:left;
}
#c-center-right-content-con.alt{float:left; width:100%;/*ie6*/}
#c-center-right-content-con .right-inner{ margin-left:235px;border-left:1px solid #ccc; padding-left:20px}
#c-center-right-content-bar,#c-center-right-content-con {
	min-height: 800px;
	_height:800px;
	*height:800px;
	height: auto !important;
}
.left-tree{ height:500px;}
/************************基本结构结束***********************/


/************************frame left fold************************/
.btn-leftfold{ 
	position:absolute; right:-26px; width:25px; height:75px; 
	background:#fff url(../../../images/map-icon.png)  no-repeat 0 0; 
    border:1px solid #bbb; border-left:none; display:block;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    -moz-box-shadow:2px 2px 2px rgba(150,150,150,0.4);
    -webkit-box-shadow:2px 2px 2px rgba(150,150,150,0.4);
    box-shandow:2px 2px 2px rgba(150,150,150,0.4);
}
.btn-leftfold:hover{ background-color:#f8f8f8;}
.btn-leftfold.btn-leftfold-yes{background-position:-183px 20px;}
.btn-leftfold.btn-leftfold-no{background-position:-210px 20px; left:-190px;display:none; }
.leftfold-box-out{position:relative; z-index:199;}
.leftfold-box{ position:absolute; left:190px; top:300px; z-index:200; }
/************************frame left fold end************************/
/***********************menutool-group drop**********/
.menutool-ceng-out{}
.menutool-ceng ul li{
  float: none;
  display: block;
  padding: 0 25px;
  line-height: 35px;
  color: #666;
  display: block;
  padding:0 15px;
}
.menutool-ceng{border:1px solid #ddd;background:#fff;}
.menutool-ceng  .ui-widget-content {
border:none;
color: #666;
}
.menutool-ceng .ui-menu {
width: 200px;
margin-bottom: 0;
padding:0;
}

.menutool-ceng .ui-menu .ui-front{border:1px solid #ddd;}
.menutool-group ul li:hover{
  background: #f8f8f8;
  color: #000;
}

.menutool-group ul li .t-arrow {
  display: block;
  width: 15px;
  height: 15px;
  margin-top: 25px;
  background: url(../../../images/map-icon.png) no-repeat -67px 5px;
  float: right;
}
.menutool-group ul li:hover .t-arrow, .menutool-group ul li.active .t-arrow {
  background-position: -67px -9px;
}

.menutool-group ul li .drop {
  	font-size: 12px;
  	display:none ;
    position: fixed;
    left:0 ;
  	top:0 ;
}
.menutool-group ul li .drop ul li a{height:auto;border:none; color:#666;}

.menutool-group  ul li .drop .t-subnav {
  background: #fff;
  display: block;
}
.menutool-group ul li .drop .t-subnav li {
  line-height:30px;
  border-left: 0px;
  height:auto;
  font-size:12px ;
  clear: both;
  padding:0 5px 0 10px;
  float:none;
  width:auto;
}
.menutool-group ul li .drop .t-subnav li.ui-state-disabled{
	margin:0;
}
.menutool-group ul li .drop .t-subnav li.ui-state-active{border:none}

.menutool-group ul li .ui-menu-icon{margin-top:8px;}


.menutool-group ul li .t-icon {
  display: block;
  width: 25px;
  height: 25px;
  margin-top:4px;
  background: url(../../../images/map-icon.png) no-repeat 0 0;
  float: left;
}

.menutool-group ul li .t-icon-z1 {
  background-position: 0 -275px;
}

.menutool-dropbox{
  width: 300px;
  min-height: 80px;
  background: #fff;
  line-height: normal;
  border: 1px solid #e8e8e8;

}

.menutool-dropbox .nav-tabs {
  background: #fff;
  padding-top: 10px;
  padding-left: 10px;
  position: relative;
}

.menutool-dropbox .cell-box {
  line-height: 22px;
  padding: 5px 15px 10px 15px;
}

.menutool-dropbox .cell-box .cell-t {
  margin-top: 8px;
  font-weight: bold;
  color: #777;
}
.menutool-dropbox .cell-box a{line-height:25px;height:auto;color:#666;}
.menutool-dropbox .cell-box a:hover{background:none;}
.menutool-dropbox  .uiTabs{margin:10px;}
.menutool-dropbox  .uiTabs ul{border-radius:0;}
/***********************menutool-group drop**********/

/***********************laydate**********/

.laydate .form-control[readonly]{
	background-color: #fff;
}

.dateRange .form-control[readonly]{
	background-color: #fff;
}

/***********************laydate**********/

/***************************************整体框架布局end************************************/



.f-fold-btn{ position:absolute; z-index:1000; top:45%; width:25px; height:75px; background:#fff url(../../../images/map-icon.png)  no-repeat 0 0; border:1px solid #bbb; display:block;
-moz-box-shadow:2px 2px 2px rgba(150,150,150,0.4);
-webkit-box-shadow:2px 2px 2px rgba(150,150,150,0.4);
box-shandow:2px 2px 2px rgba(150,150,150,0.4);
}
.f-fold-btn:hover{ background-color:#f8f8f8;}
.f-fold-btn.f-fold{background-position:-183px 20px;border-left:1px solid #fff; right:auto;}
.f-fold-btn.f-unfold{background-position:-210px 20px;border-left:none;left:0;right:200px; display:none; }
/***********************折叠end********************/

.m-move{ cursor: all-scroll;}

/*回顶部*/
#gotoTop{display:none;position:fixed;top:75%;right:4%;cursor:pointer;margin-top:-50px;width:45px; height:45px;background:url(../../../images/totop.png) no-repeat 0 -54px;}
/*ie6下position:fixed效果*/
#gotoTop{_position:absolute;_top:expression(documentElement.scrollTop + documentElement.clientHeight * 3/4 + "px")}
#gotoTop.hover{background-position:0 0;}
/*回顶部*/

/********固定层*********/
.fixed-b{ 
position:fixed; 
top:0px; 
z-index:1000;
_position:absolute;
_bottom:auto;
_top:expression_r(eval_r(document.documentElement.scrollTop));
width:100%;
}
*html{
background-image:url(about:blank);
background-attachment:fixed;}
.fixed-b .user-box{ margin-top:84px;}
.fixed-b .m-ui-title1{ margin-right:220px;}
/********固定层*********/