<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
	<Properties>
		<Property name="pathRoot">d:</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<RollingFile name="RollingFile" fileName="${pathRoot}/logs/client.log"
			filePattern="${pathRoot}/logs/client-%d{MM-dd-yyyy}.log.gz">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>
	</Appenders>

	<Loggers>

		<logger name="com.taiji" level="trace"></logger>

		<Root level="info">
			<AppenderRef ref="Console" />
		</Root>

	</Loggers>

</Configuration>