<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Properties>
    <Property name="pathRoot">d:</Property>
  </Properties>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout
        pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
    </Console>
    <RollingFile name="RollingFile" fileName="${pathRoot}/logs/app.log"
      filePattern="${pathRoot}/logs/app-%d{MM-dd-yyyy}.log.gz">
      <PatternLayout>
        <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy />
      </Policies>
    </RollingFile>
  </Appenders>

  <Loggers>

    <logger name="com.taiji" level="trace"></logger>
    <logger name="org.hibernate" level="debug"></logger>
    <logger name="org.springframework" level="info"></logger>
    <logger name="org.dbunit" level="info"></logger>

    <Root level="info">
      <AppenderRef ref="Console" />
    </Root>

  </Loggers>

</Configuration>