@charset "utf-8";
/* CSS Document */

/**top**/
.c-top-content{background:#fff;height:80px;border-bottom:1px solid #e0e0e0;}
.logo{ float:left;background:url(../../../images/logo.png) no-repeat 15px 14px; height:70px; }
.logo h1{ font-size:25px; font-weight:bold; color:#03285f; margin-top:26px; margin-left:80px; float:left; display:inline;}
.logo h1 a{color:#03285f; }
.logo h1 a:hover{ text-decoration:none;}
.logo h2{ font-size:25px; color:#03285f; margin-top:26px; margin-left:20px; padding-left:20px; padding-bottom:10px; float:left; background:url(../../../images/v-line.png) no-repeat left center;}
.c-top-right{ float:right;}
.c-top-right ul li{ display:inline-block; float:left; border-left:1px solid #e8e8e8;  height:80px; _height:83px;font-size:14px; width:90px;}
.c-top-right ul li a{ color:#666;height:80px;line-height:80px;display:inline-block;position:relative;width:90px; text-align:center;}
.c-top-right ul li a i{ margin-top:5px; color:#888; font-style:normal; font-size:12px; float:left; width:100%;text-align:center; line-height:normal;}
.link-message-icon,.link-map-icon,.link-message-icon .number,.link-index-icon,.link-call-icon,.link-menu-icon{background:url(../../../images/icon-bg2.png) no-repeat 0 0; display:block;}
.link-message-icon,.link-map-icon,.link-index-icon,.link-call-icon,.link-menu-icon{ width:40px; height:40px; margin:0 auto; margin-top:10px;}
.link-message-icon{ background-position:-5px 3px; position:relative;}
.link-map-icon{ background-position:-5px -45px;}
.link-index-icon{ background-position:-5px -219px;}
.link-call-icon{ background-position:-5px -170px;}
.link-map-icon{ background-position:-5px -45px;}
.link-menu-icon{ background-position:-5px -272px;}
.c-top-right ul li a:hover{background-color:#f8f8f8; }
.link-menu-icon:hover,.link-message-icon:hover,.link-map-icon:hover{ background-color:#f8f8f8;}
.link-message-icon .number{ width:24px; height:24px;background-position:-10px -90px; position:absolute; right:-4px; top:-4px; font-size:12px; line-height:20px; text-align:center; color:#fff;}
/**top**/
.c-top-right ul li a.current{ background:#f8f8f8;}

.nav-ceng-out{ position:relative;z-index:1000;}
.nav-ceng{ position:absolute; right:0;top:81px;z-index:1001; width:520px; display:none;}
.nav-systems{width:520px;background:#426dad; background:#008be2;
border-radius:4px;
}
.nav-systems .nav li{ width:260px; padding:0;height:70px;border:none; }
.nav-systems .nav li a{line-height:normal; height:70px; line-height:70px;color:#fff; width:260px;font-size:14px; padding:0; text-align:left; }
.nav-systems .nav li a:hover,.nav-ceng .nav li a:focus{ color:#fff; background:#006cc8;}
.nav-systems .nav li .icon{ display:inline-block; width:50px; height:50px; float:left; background:url(../../../images/icon-whole-nav.png) no-repeat -18px -137px; 
margin-top:10px; margin-left:20px; margin-right:15px;}
.nav-systems .nav li .aj-icon-1{background-position:-14px -135px;}
.nav-systems .nav li .aj-icon-2{background-position:-14px -135px;}
.nav-systems .nav li .aj-icon-3{background-position:-14px -135px;}


/************************left内容开始************************/
.m-ui-accordion{border-bottom:1px solid #34527d;}
.m-ui-accordion h3{
background:none; 
border:none; 
color:#b8bfc8; 
line-height:20px;
padding:8px 24px 8px 0;
outline:none;
margin-top:0!important;
padding-left:5px;
text-shadow:none!important;
font-size:14px;
cursor:pointer;
}
.m-ui-accordion h3:hover{ background:#001d46; color:#fff;}
.m-ui-accordion div{background:none; border:none;padding:0px!important; margin:0;}
.m-ui-accordion div ul{ margin:0; padding:0;}
.m-ui-accordion div ul li{ line-height:28px; display:inline;}
.m-ui-accordion div ul li a{color:#cdd3dd; display:block; line-height:28px; padding-left:20px; font-size:14px;}
.m-ui-accordion h3 .leftH3Span{color:#cdd3dd;}
.m-ui-accordion h3 .leftH3Span:hover{color:#fff;}
.m-ui-accordion .ui-accordion-header-active .leftH3Span{
    color: #1bbbfe;
}
.m-ui-accordion div ul li a:hover{ color:#1bbbfe; text-decoration:none; background:#001d46;}
.ui-accordion .ui-accordion-header .ui-icon { 
  position: absolute; 
  left:auto;
  right:10px; 
  top: 50%; 
  margin-top: -8px; 
}
.m-ui-accordion .ui-accordion-header { font-weight:normal; border-top:1px solid #34527d;}
.m-ui-accordion .ui-state-default, #accordion .ui-widget-content .ui-state-default, #accordion .ui-widget-header .ui-state-default {filter:none;}
.m-ui-accordion .ui-accordion-content{ margin-top:0;}
.m-ui-accordion .ui-accordion-header-active{ background:#001533; color:#1bbbfe;border-top:1px solid #34527d!important;} 
.m-ui-accordion h3 a{ padding:0!important;  color:#fff!important;}
.m-ui-accordion .ui-accordion-header-active a{color:#1bbbfe!important;}
.m-ui-accordion .ui-accordion-header-active a:hover{color:#fff!important;}

.user-box{ height:50px; padding-top:10px; background:#75d6ff;}
.user-box .user-icon{ float:left; width:55px;height:50px; margin-left:20px; display:inline; background:url(../../../images/user.png) no-repeat 3px 3px;}
.user-box .user-icon img{ width:40px; height:40px; border-radius:25px; border:1px solid #b1e8ff;}
.user-box .user-name{ float:left; width:100px; line-height:1.5em; padding-top:5px;}
.nav-father{ height:40px; font-size:14px;line-height:40px; text-align:center; background:#1bbbfe; font-size:16px; color:#fff;}
.leftmenu-icon{width:30px; height:30px; background:#ccc; display:block; float:left; margin-left:-5px; margin-top:-5px; margin-right:10px; position:relative; z-index:10;  background:url(../../../images/icon-bg1.png) no-repeat -125px -2px;}


/********XTGL*****/
.leftmenu-icon.xtgl-icon-1{ background-position:-238px -1px;}
.leftmenu-icon.xtgl-icon-2{ background-position:-238px -43px;}
.leftmenu-icon.xtgl-icon-3{ background-position:-238px -82px;}
.leftmenu-icon.xtgl-icon-4{ background-position:-238px -120px;}
.leftmenu-icon.xtgl-icon-5{ background-position:-242px -160px;}
.leftmenu-icon.xtgl-icon-6{ background-position:-242px -194px;}
.leftmenu-icon.xtgl-icon-7{ background-position:-242px -162px;}


.leftmenu-icon.aj-ba-icon-1{ background-position:-125px -2px;}
.leftmenu-icon.aj-ba-icon-2{ background-position:-125px -2px;}
.leftmenu-icon.aj-ba-icon-3{ background-position:-125px -2px;}

.leftmenu-icon.icon-man{ background-position:-233px -127px;}
.leftmenu-icon.icon-search{ background-position:-175px -4px;}

/************************left内容结束***************************/


/************************content内容开始********************/
.m-ui-breadcrumb{ background:none; margin:0; padding:0; padding-bottom:10px;}
.m-ui-breadcrumb:before{content:url(../../../images/icon-home.png); margin-top:-1px; margin-right:10px; float:left;}
.m-ui-breadcrumb li{ *display:inline;*margin:0 5px; font-size:12px;}

.m-ui-searchbox{}
.m-ui-title1{color:#fff; height:45px;background:#03285f url(../../../images/tt-bg.png) no-repeat 0 0; position:relative; clear:both;}
.m-ui-title1 h1{ line-height:45px; font-size:18px; font-weight:bold; padding-left:30px;}
.m-ui-title2{color:#fff; height:40px;background:#03285f url(../../../images/tt-bg.png) no-repeat 10px -72px; position:relative;}
.m-ui-title2 h2{ line-height:40px; font-size:16px; padding-left:45px;}
.m-ui-caozuobox{ position:absolute; left:50%; top:6px; width:800px; margin-left:-400px; text-align:center;}
.m-ui-caozuobox button{ margin-left:5px;}
.m-ui-caozuobox button span{ margin-right:5px;}

.btn .glyphicon{ vertical-align:middle;}
/*******查询区域*********/
.basic-query-out{ position:relative; z-index:1; margin-bottom:5px; }
.basic-query{ position:absolute; right:15px; top:-30px; z-index:151;}
.basic-query .form-control{ display:inline; width:150px;padding:0; vertical-align:middle;padding-left:10px!important;}
.basic-query .btn{ margin-right:15px;}

.advanced-btn,.advanced-btn-up{ background:url(../../../images/icon-down2.png) no-repeat right 5px; padding-right:20px;height:25px; border:none; border:0; color:#1bbbfe; vertical-align:middle;}
.advanced-btn-up{background-position:right -56px; margin-top:-10px;}
.advanced-btn-box{ text-align:center; display:none; padding-top:5px;}
.advanced-query{ display:none;}
/*******查询区域*********/
.row-mar{ margin-bottom:8px;}
.row-mar-sm{ margin-bottom:5px;}
.row-mar0{ margin:0;}
.to{ padding-top:5px; text-align:center;}
.m-ui-searchbox-con label{ line-height:15px; margin-top:5px;}
.a-link{ text-decoration:underline;}
.mar-right{ margin-right:10px;}
.mar-right-sm{ margin-right:5px;}
.mar-top{ margin-top:10px;}
.mar-top-sm{ margin-top:5px;}
.mar-left{ margin-left:10px;}
.micon{font-size:18px; line-height:22px;padding:0; vertical-align:middle;}
.micon-lg{font-size:22px; line-height:22px;padding:0; vertical-align:middle;}
.m-label-right{ padding-top:4px;}
.m-label-left{ padding-top:5px;}

.state{ display:inline-block; padding:1px 3px; background:#ffb432; color:#fff; border-radius:3px; line-height:18px; font-size:12px; }
.state-red1{ background:#ff0000;}
.state-red2{ background:#ff7676;}
.state-red3{ background:#ff9191;}
.state-green1{ background:#41d3bd;}
.state-green2{ background:#7ce500;}
.state-blue1{ background:#1cd7ff;}
.state-blue2{ background:#0077cc;}
.state-yellow1{ background:#ff9c00;}
.state-yellow2{ background:#ffe04d;}
.state-purple1{ background:#c485ff;}
.state-gray1{ background:#f8f8f8; color:#aaa;}

.m-ui-layer-box{ margin:0 auto}
.m-ui-layer-body{ background:#fff;}
.m-ui-layer-content{ padding-top:10px; padding-bottom:10px;}
.m-ui-closebox{ float:right; margin-top:-30px; margin-right:10px;}
.m-ui-close{background:url(../../../images/close.png) no-repeat 0 0; width:20px; height:20px; padding:0;}
.m-ui-close:hover{ background-position:0 -53px;}
.m-ui-commitbox{ text-align:center; padding:10px; border-top:1px solid #e8e8e8;}

.btn-lg{ padding:10px 20px; border-radius:2px; font-size:14px;}
.btn-bordered{ border:1px solid #1d98de; color:#1d98de; background:#fff;}
.btn-bordered:hover{border:1px solid #0a86cd;color:#fff;background:#0a86cd; }
.m-ui-title3{ font-size:16px; margin-bottom:10px;}
.m-ui-title3 h2{font-size:16px;}
.m-ui-title-lg h2{ font-size:20px;}

.color-gray{ color:#999;}
.color-gray2{color:#666;}
.color-red1{ color:#ff0000;}
.color-red2{ color:#ff7676;}
.color-red3{ color:#ff6161;}
.color-green1{ color:#00c397;}
.color-green2{ color:#7ce500;}
.color-blue1{ color:#1d98de;}
.color-blue2{ color:#7dd0ff;}
.color-yellow1{ color:#ff9c00;}
.color-yellow2{ color:#ffe04d;}
.color-purple1{ color:#c485ff;}
.color-orange1{ color:#ff9900;}



.alert{ margin-bottom:10px;}
.alert-info{ border-color:#bde2fc; background-color:#def0fc;}
.td-left{ background-color:#f5f6fa;vertical-align:middle!important;}
.table-sg{ margin-bottom:10px;}
.table-sg > tbody > tr > td{ padding:5px 10px;font-size:14px; border:1px solid #e8eaf4; vertical-align:middle; }
.table-sg > tbody > tr > th{ font-weight:normal; background-color:#f8f8f8; color:#555;font-size:14px;}
.table-sg-sm > tbody > tr > td{ padding:5px; line-height:normal;  vertical-align:middle; }
.red-star{ color:#ff0000; vertical-align:middle; font-size:14px; font-family:SimSun;}
.m-line{ border-bottom:1px solid #ddd; margin:10px 0; }

.font12{ font-size:12px;}
.font14{ font-size:14px;}
.font16{ font-size:16px;}
.font18{ font-size:18px;}
.font20{ font-size:20px;}
.font22{ font-size:22px;}
.font24{ font-size:24px;}
.font26{ font-size:26px;}
.font28{ font-size:28px;}
.font30{ font-size:30px;}

.m-bold{ font-weight:bold;}
/********file上传*******/
.upload-control{}
.upload-control p{ color:#999; margin-top:5px;}
.upload-control form{ display:inline;}
.upload-control .upload-btn,.upload-control .upload-img,.upload-control .upload-text{ clear:both;}

.upload-control .btn-find{ width:200px; height:40px;  background:#f0fafe;border-color:#8ad8f7; color:#00aaee; padding:0;position:relative; display:inline-block; *display:inline; zoom:1;}
.upload-control .btn-find span{ font-size:25px; line-height:40px; height:40px; margin:0; color:#00aaee!important; margin:0; float:left; margin-left:40px; margin-top:-2px;}
.upload-control .btn-find p{ color:#4fb3e6; display:inline; margin-left:10px; padding-top:12px;float:left;}
.upload-control .btn-find:hover,.upload-control .btn-find:active{border-color:#00aaee; }
.upload-control .btn-find input{ position:absolute; left:0; top:0; bottom:0; width:200px; height:40px; cursor:pointer; z-index:100; background:#d7f1ff; border:none; border:0;}
.upload-control .btn-upload,.upload-control .btn-cancel{ width:200px; height:40px; background:#00aaee; border-color:#00aaee;color:#fff; font-size:14px; }
.upload-control .btn-upload:hover,.upload-control .btn-upload:active{ background:#008fe6; border-color:#008fe6;color:#fff;}
.upload-control .btn-cancel{ margin-left:10px; background:#fff; border-color:#ddd; color:#999; width:80px;}
.upload-control .btn-cancel:hover{border-color:#aaa;}
.upload-control .btn-yes{ background:#eee; font-size:12px; height:40px; padding:0 15px; line-height:40px; margin-left:10px;}

.upload-control .upload-img img{width:85px; height:80px;}
.upload-control .upload-img .btn{border:0; padding-top:5px; background:#f0f0f0;}
.upload-control .upload-img ul{ margin:0; padding:0; list-style:none;}
.upload-control .upload-img ul li{ float:left; width:100px; height:90px; position:relative;}
.upload-control .upload-img ul li .btn{ position:absolute; right:15px; top:0;}

.upload-control .upload-text .btn{margin-left:10px; }
.upload-control .upload-text .size{ margin:0 10px; color:#aaa;}
.upload-control .upload-text .schedule{ color:#f00;}
.upload-control .upload-text .schedule em{ font-weight:bold;}
.upload-control .upload-text .name{color:#333; font-size:12px;}
.upload-control .upload-text p{ margin-bottom:0; padding-left:5px;}
.upload-control .upload-text .btn{ font-size:14px;}
.btn-x{ font-size:14px; padding:0; height:14px; width:14px; line-height:7px; padding-top:0;border-radius:9px;  margin-left:5px; background:#fff;color:#1d98de;border:1px solid #1d98de;}
.btn-x:hover{background:#1d98de; border-color:#1d98de; color:#fff;}
/********file上传*******/
/********操作历史隐藏*******/
.od-expand-btn,.od-fold-btn{
display: block;
height: 30px;
line-height:30px;
background: #fafafa url(../../../images/icon-down-1.png)  center top no-repeat;
margin:0;
}
.od-fold-btn {background-position: center bottom;}
.od-expand-btn:hover {
background-color: #f0f0f0;
}
.od-expand-btn a,.od-fold-btn a{color:#999;}
.od-expand-btn a:hover,.od-fold-btn a:hover{ text-decoration:none;}
/********操作历史隐藏*******/


.m-icheck-group p{ padding-top:5px;}
.m-icheck-group > div{ margin-bottom:5px;}
.m-icheck-group input,.m-icheck-group .icheckbox_square-green,.m-icheck-group .iradio_square-green{ margin-right:5px; margin-top:-2px;}

.fi-ceng-out{ position:relative;display:block;}
.fi-ceng{ display:none; position:absolute; z-index:101; background:#fff; border:2px solid #1bbbfe; font-size:14px; }
.icon-append{ display:block;background:url(../../../images/icon-append.png) no-repeat -6px -12px; width:30px; padding:0; height:25px; }
.box-append{ padding:10px; right:25px; top:20px;width:250px;}
.box-append h5{ font-size:14px; margin-bottom:5px; color:#333;}
.m-list-group{ margin-bottom:0;}
.m-list-group li{background:url(../../../images/dot2.png) no-repeat 0 3px; padding-left:20px; word-break:break-all; word-wrap:break-word;}


.input-bordered{ border:1px solid #336666;}
.m-inline{ display:inline-block;}
.word-break{ word-wrap: break-word; word-break:break-all;}
.tr-primary td{ background:#1d98de; color:#fff;}
.tr-primary td a{ color:#fff; text-decoration:underline;}

.alert-default{ background:#f5f6fa;}

